.position-relative {
  position: relative; }

.position-absolute {
  position: absolute; }

.d-none {
  display: none; }

.d-inline {
  display: inline; }

.d-inline-block {
  display: inline-block; }

.d-block {
  display: block; }

.d-table {
  display: table; }

.d-table-row {
  display: table-row; }

.d-table-cell {
  display: table-cell; }

.d-flex {
  display: flex; }

.d-inline-flex {
  display: inline-flex; }

@media (min-width: 576px) {
  .d-sm-none {
    display: none; }
  .d-sm-inline {
    display: inline; }
  .d-sm-inline-block {
    display: inline-block; }
  .d-sm-block {
    display: block; }
  .d-sm-table {
    display: table; }
  .d-sm-table-row {
    display: table-row; }
  .d-sm-table-cell {
    display: table-cell; }
  .d-sm-flex {
    display: flex; }
  .d-sm-inline-flex {
    display: inline-flex; } }

@media (min-width: 768px) {
  .d-md-none {
    display: none; }
  .d-md-inline {
    display: inline; }
  .d-md-inline-block {
    display: inline-block; }
  .d-md-block {
    display: block; }
  .d-md-table {
    display: table; }
  .d-md-table-row {
    display: table-row; }
  .d-md-table-cell {
    display: table-cell; }
  .d-md-flex {
    display: flex; }
  .d-md-inline-flex {
    display: inline-flex; } }

@media (min-width: 992px) {
  .d-lg-none {
    display: none; }
  .d-lg-inline {
    display: inline; }
  .d-lg-inline-block {
    display: inline-block; }
  .d-lg-block {
    display: block; }
  .d-lg-table {
    display: table; }
  .d-lg-table-row {
    display: table-row; }
  .d-lg-table-cell {
    display: table-cell; }
  .d-lg-flex {
    display: flex; }
  .d-lg-inline-flex {
    display: inline-flex; } }

@media (min-width: 1200px) {
  .d-xl-none {
    display: none; }
  .d-xl-inline {
    display: inline; }
  .d-xl-inline-block {
    display: inline-block; }
  .d-xl-block {
    display: block; }
  .d-xl-table {
    display: table; }
  .d-xl-table-row {
    display: table-row; }
  .d-xl-table-cell {
    display: table-cell; }
  .d-xl-flex {
    display: flex; }
  .d-xl-inline-flex {
    display: inline-flex; } }

@media print {
  .d-print-none {
    display: none; }
  .d-print-inline {
    display: inline; }
  .d-print-inline-block {
    display: inline-block; }
  .d-print-block {
    display: block; }
  .d-print-table {
    display: table; }
  .d-print-table-row {
    display: table-row; }
  .d-print-table-cell {
    display: table-cell; }
  .d-print-flex {
    display: flex; }
  .d-print-inline-flex {
    display: inline-flex; } }

.flex-row {
  flex-direction: row; }

.flex-column {
  flex-direction: column; }

.flex-row-reverse {
  flex-direction: row-reverse; }

.flex-column-reverse {
  flex-direction: column-reverse; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-nowrap {
  flex-wrap: nowrap; }

.flex-wrap-reverse {
  flex-wrap: wrap-reverse; }

.justify-content-start {
  justify-content: flex-start; }

.justify-content-end {
  justify-content: flex-end; }

.justify-content-center {
  justify-content: center; }

.justify-content-between {
  justify-content: space-between; }

.justify-content-around {
  justify-content: space-around; }

.align-items-start {
  align-items: flex-start; }

.align-items-end {
  align-items: flex-end; }

.align-items-center {
  align-items: center; }

.align-items-baseline {
  align-items: baseline; }

.align-items-stretch {
  align-items: stretch; }

.align-content-start {
  align-content: flex-start; }

.align-content-end {
  align-content: flex-end; }

.align-content-center {
  align-content: center; }

.align-content-between {
  align-content: space-between; }

.align-content-around {
  align-content: space-around; }

.align-content-stretch {
  align-content: stretch; }

.align-self-auto {
  align-self: auto; }

.align-self-start {
  align-self: flex-start; }

.align-self-end {
  align-self: flex-end; }

.align-self-center {
  align-self: center; }

.align-self-baseline {
  align-self: baseline; }

.align-self-stretch {
  align-self: stretch; }

@media (min-width: 576px) {
  .flex-sm-row {
    flex-direction: row; }
  .flex-sm-column {
    flex-direction: column; }
  .flex-sm-row-reverse {
    flex-direction: row-reverse; }
  .flex-sm-column-reverse {
    flex-direction: column-reverse; }
  .flex-sm-wrap {
    flex-wrap: wrap; }
  .flex-sm-nowrap {
    flex-wrap: nowrap; }
  .flex-sm-wrap-reverse {
    flex-wrap: wrap-reverse; }
  .justify-content-sm-start {
    justify-content: flex-start; }
  .justify-content-sm-end {
    justify-content: flex-end; }
  .justify-content-sm-center {
    justify-content: center; }
  .justify-content-sm-between {
    justify-content: space-between; }
  .justify-content-sm-around {
    justify-content: space-around; }
  .align-items-sm-start {
    align-items: flex-start; }
  .align-items-sm-end {
    align-items: flex-end; }
  .align-items-sm-center {
    align-items: center; }
  .align-items-sm-baseline {
    align-items: baseline; }
  .align-items-sm-stretch {
    align-items: stretch; }
  .align-content-sm-start {
    align-content: flex-start; }
  .align-content-sm-end {
    align-content: flex-end; }
  .align-content-sm-center {
    align-content: center; }
  .align-content-sm-between {
    align-content: space-between; }
  .align-content-sm-around {
    align-content: space-around; }
  .align-content-sm-stretch {
    align-content: stretch; }
  .align-self-sm-auto {
    align-self: auto; }
  .align-self-sm-start {
    align-self: flex-start; }
  .align-self-sm-end {
    align-self: flex-end; }
  .align-self-sm-center {
    align-self: center; }
  .align-self-sm-baseline {
    align-self: baseline; }
  .align-self-sm-stretch {
    align-self: stretch; } }

@media (min-width: 768px) {
  .flex-md-row {
    flex-direction: row; }
  .flex-md-column {
    flex-direction: column; }
  .flex-md-row-reverse {
    flex-direction: row-reverse; }
  .flex-md-column-reverse {
    flex-direction: column-reverse; }
  .flex-md-wrap {
    flex-wrap: wrap; }
  .flex-md-nowrap {
    flex-wrap: nowrap; }
  .flex-md-wrap-reverse {
    flex-wrap: wrap-reverse; }
  .justify-content-md-start {
    justify-content: flex-start; }
  .justify-content-md-end {
    justify-content: flex-end; }
  .justify-content-md-center {
    justify-content: center; }
  .justify-content-md-between {
    justify-content: space-between; }
  .justify-content-md-around {
    justify-content: space-around; }
  .align-items-md-start {
    align-items: flex-start; }
  .align-items-md-end {
    align-items: flex-end; }
  .align-items-md-center {
    align-items: center; }
  .align-items-md-baseline {
    align-items: baseline; }
  .align-items-md-stretch {
    align-items: stretch; }
  .align-content-md-start {
    align-content: flex-start; }
  .align-content-md-end {
    align-content: flex-end; }
  .align-content-md-center {
    align-content: center; }
  .align-content-md-between {
    align-content: space-between; }
  .align-content-md-around {
    align-content: space-around; }
  .align-content-md-stretch {
    align-content: stretch; }
  .align-self-md-auto {
    align-self: auto; }
  .align-self-md-start {
    align-self: flex-start; }
  .align-self-md-end {
    align-self: flex-end; }
  .align-self-md-center {
    align-self: center; }
  .align-self-md-baseline {
    align-self: baseline; }
  .align-self-md-stretch {
    align-self: stretch; } }

@media (min-width: 992px) {
  .flex-lg-row {
    flex-direction: row; }
  .flex-lg-column {
    flex-direction: column; }
  .flex-lg-row-reverse {
    flex-direction: row-reverse; }
  .flex-lg-column-reverse {
    flex-direction: column-reverse; }
  .flex-lg-wrap {
    flex-wrap: wrap; }
  .flex-lg-nowrap {
    flex-wrap: nowrap; }
  .flex-lg-wrap-reverse {
    flex-wrap: wrap-reverse; }
  .justify-content-lg-start {
    justify-content: flex-start; }
  .justify-content-lg-end {
    justify-content: flex-end; }
  .justify-content-lg-center {
    justify-content: center; }
  .justify-content-lg-between {
    justify-content: space-between; }
  .justify-content-lg-around {
    justify-content: space-around; }
  .align-items-lg-start {
    align-items: flex-start; }
  .align-items-lg-end {
    align-items: flex-end; }
  .align-items-lg-center {
    align-items: center; }
  .align-items-lg-baseline {
    align-items: baseline; }
  .align-items-lg-stretch {
    align-items: stretch; }
  .align-content-lg-start {
    align-content: flex-start; }
  .align-content-lg-end {
    align-content: flex-end; }
  .align-content-lg-center {
    align-content: center; }
  .align-content-lg-between {
    align-content: space-between; }
  .align-content-lg-around {
    align-content: space-around; }
  .align-content-lg-stretch {
    align-content: stretch; }
  .align-self-lg-auto {
    align-self: auto; }
  .align-self-lg-start {
    align-self: flex-start; }
  .align-self-lg-end {
    align-self: flex-end; }
  .align-self-lg-center {
    align-self: center; }
  .align-self-lg-baseline {
    align-self: baseline; }
  .align-self-lg-stretch {
    align-self: stretch; } }

@media (min-width: 1200px) {
  .flex-xl-row {
    flex-direction: row; }
  .flex-xl-column {
    flex-direction: column; }
  .flex-xl-row-reverse {
    flex-direction: row-reverse; }
  .flex-xl-column-reverse {
    flex-direction: column-reverse; }
  .flex-xl-wrap {
    flex-wrap: wrap; }
  .flex-xl-nowrap {
    flex-wrap: nowrap; }
  .flex-xl-wrap-reverse {
    flex-wrap: wrap-reverse; }
  .justify-content-xl-start {
    justify-content: flex-start; }
  .justify-content-xl-end {
    justify-content: flex-end; }
  .justify-content-xl-center {
    justify-content: center; }
  .justify-content-xl-between {
    justify-content: space-between; }
  .justify-content-xl-around {
    justify-content: space-around; }
  .align-items-xl-start {
    align-items: flex-start; }
  .align-items-xl-end {
    align-items: flex-end; }
  .align-items-xl-center {
    align-items: center; }
  .align-items-xl-baseline {
    align-items: baseline; }
  .align-items-xl-stretch {
    align-items: stretch; }
  .align-content-xl-start {
    align-content: flex-start; }
  .align-content-xl-end {
    align-content: flex-end; }
  .align-content-xl-center {
    align-content: center; }
  .align-content-xl-between {
    align-content: space-between; }
  .align-content-xl-around {
    align-content: space-around; }
  .align-content-xl-stretch {
    align-content: stretch; }
  .align-self-xl-auto {
    align-self: auto; }
  .align-self-xl-start {
    align-self: flex-start; }
  .align-self-xl-end {
    align-self: flex-end; }
  .align-self-xl-center {
    align-self: center; }
  .align-self-xl-baseline {
    align-self: baseline; }
  .align-self-xl-stretch {
    align-self: stretch; } }

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.w-25 {
  width: 25% !important; }

.w-50 {
  width: 50% !important; }

.w-65 {
  width: 65% !important; }

.w-75 {
  width: 75% !important; }

.w-100 {
  width: 100% !important; }

.h-25 {
  height: 25% !important; }

.h-50 {
  height: 50% !important; }

.h-75 {
  height: 75% !important; }

.h-100 {
  height: 100% !important; }

.mw-100 {
  max-width: 100% !important; }

.mh-100 {
  max-height: 100% !important; }

.m-0 {
  margin: 0 !important; }

.mt-0,
.my-0 {
  margin-top: 0 !important; }

.mr-0,
.mx-0 {
  margin-right: 0 !important; }

.mb-0,
.my-0 {
  margin-bottom: 0 !important; }

.ml-0,
.mx-0 {
  margin-left: 0 !important; }

.m-1 {
  margin: 0.25rem !important; }

.mt-1,
.my-1 {
  margin-top: 0.25rem !important; }

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important; }

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important; }

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important; }

.m-2 {
  margin: 0.5rem !important; }

.mt-2,
.my-2 {
  margin-top: 0.5rem !important; }

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important; }

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important; }

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important; }

.m-3 {
  margin: 1rem !important; }

.mt-3,
.my-3 {
  margin-top: 1rem !important; }

.mr-3,
.mx-3 {
  margin-right: 1rem !important; }

.mb-3,
.my-3 {
  margin-bottom: 1rem !important; }

.ml-3,
.mx-3 {
  margin-left: 1rem !important; }

.m-4 {
  margin: 1.5rem !important; }

.mt-4,
.my-4 {
  margin-top: 1.5rem !important; }

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important; }

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important; }

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important; }

.m-5 {
  margin: 3rem !important; }

.mt-5,
.my-5 {
  margin-top: 3rem !important; }

.mr-5,
.mx-5 {
  margin-right: 3rem !important; }

.mb-5,
.my-5 {
  margin-bottom: 3rem !important; }

.ml-5,
.mx-5 {
  margin-left: 3rem !important; }

.p-0 {
  padding: 0 !important; }

.pt-0,
.py-0 {
  padding-top: 0 !important; }

.pr-0,
.px-0 {
  padding-right: 0 !important; }

.pb-0,
.py-0 {
  padding-bottom: 0 !important; }

.pl-0,
.px-0 {
  padding-left: 0 !important; }

.p-1 {
  padding: 0.25rem !important; }

.pt-1,
.py-1 {
  padding-top: 0.25rem !important; }

.pr-1,
.px-1 {
  padding-right: 0.25rem !important; }

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important; }

.pl-1,
.px-1 {
  padding-left: 0.25rem !important; }

.p-2 {
  padding: 0.5rem !important; }

.pt-2,
.py-2 {
  padding-top: 0.5rem !important; }

.pr-2,
.px-2 {
  padding-right: 0.5rem !important; }

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important; }

.pl-2,
.px-2 {
  padding-left: 0.5rem !important; }

.p-3 {
  padding: 1rem !important; }

.pt-3,
.py-3 {
  padding-top: 1rem !important; }

.pr-3,
.px-3 {
  padding-right: 1rem !important; }

.pb-3,
.py-3 {
  padding-bottom: 1rem !important; }

.pl-3,
.px-3 {
  padding-left: 1rem !important; }

.p-4 {
  padding: 1.5rem !important; }

.pt-4,
.py-4 {
  padding-top: 1.5rem !important; }

.pr-4,
.px-4 {
  padding-right: 1.5rem !important; }

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important; }

.pl-4,
.px-4 {
  padding-left: 1.5rem !important; }

.p-5 {
  padding: 3rem !important; }

.pt-5,
.py-5 {
  padding-top: 3rem !important; }

.pr-5,
.px-5 {
  padding-right: 3rem !important; }

.pb-5,
.py-5 {
  padding-bottom: 3rem !important; }

.pl-5,
.px-5 {
  padding-left: 3rem !important; }

.m-auto {
  margin: auto !important; }

.mt-auto,
.my-auto {
  margin-top: auto !important; }

.mr-auto,
.mx-auto {
  margin-right: auto !important; }

.mb-auto,
.my-auto {
  margin-bottom: auto !important; }

.ml-auto,
.mx-auto {
  margin-left: auto !important; }

@media (min-width: 576px) {
  .m-sm-0 {
    margin: 0 !important; }
  .mt-sm-0,
  .my-sm-0 {
    margin-top: 0 !important; }
  .mr-sm-0,
  .mx-sm-0 {
    margin-right: 0 !important; }
  .mb-sm-0,
  .my-sm-0 {
    margin-bottom: 0 !important; }
  .ml-sm-0,
  .mx-sm-0 {
    margin-left: 0 !important; }
  .m-sm-1 {
    margin: 0.25rem !important; }
  .mt-sm-1,
  .my-sm-1 {
    margin-top: 0.25rem !important; }
  .mr-sm-1,
  .mx-sm-1 {
    margin-right: 0.25rem !important; }
  .mb-sm-1,
  .my-sm-1 {
    margin-bottom: 0.25rem !important; }
  .ml-sm-1,
  .mx-sm-1 {
    margin-left: 0.25rem !important; }
  .m-sm-2 {
    margin: 0.5rem !important; }
  .mt-sm-2,
  .my-sm-2 {
    margin-top: 0.5rem !important; }
  .mr-sm-2,
  .mx-sm-2 {
    margin-right: 0.5rem !important; }
  .mb-sm-2,
  .my-sm-2 {
    margin-bottom: 0.5rem !important; }
  .ml-sm-2,
  .mx-sm-2 {
    margin-left: 0.5rem !important; }
  .m-sm-3 {
    margin: 1rem !important; }
  .mt-sm-3,
  .my-sm-3 {
    margin-top: 1rem !important; }
  .mr-sm-3,
  .mx-sm-3 {
    margin-right: 1rem !important; }
  .mb-sm-3,
  .my-sm-3 {
    margin-bottom: 1rem !important; }
  .ml-sm-3,
  .mx-sm-3 {
    margin-left: 1rem !important; }
  .m-sm-4 {
    margin: 1.5rem !important; }
  .mt-sm-4,
  .my-sm-4 {
    margin-top: 1.5rem !important; }
  .mr-sm-4,
  .mx-sm-4 {
    margin-right: 1.5rem !important; }
  .mb-sm-4,
  .my-sm-4 {
    margin-bottom: 1.5rem !important; }
  .ml-sm-4,
  .mx-sm-4 {
    margin-left: 1.5rem !important; }
  .m-sm-5 {
    margin: 3rem !important; }
  .mt-sm-5,
  .my-sm-5 {
    margin-top: 3rem !important; }
  .mr-sm-5,
  .mx-sm-5 {
    margin-right: 3rem !important; }
  .mb-sm-5,
  .my-sm-5 {
    margin-bottom: 3rem !important; }
  .ml-sm-5,
  .mx-sm-5 {
    margin-left: 3rem !important; }
  .p-sm-0 {
    padding: 0 !important; }
  .pt-sm-0,
  .py-sm-0 {
    padding-top: 0 !important; }
  .pr-sm-0,
  .px-sm-0 {
    padding-right: 0 !important; }
  .pb-sm-0,
  .py-sm-0 {
    padding-bottom: 0 !important; }
  .pl-sm-0,
  .px-sm-0 {
    padding-left: 0 !important; }
  .p-sm-1 {
    padding: 0.25rem !important; }
  .pt-sm-1,
  .py-sm-1 {
    padding-top: 0.25rem !important; }
  .pr-sm-1,
  .px-sm-1 {
    padding-right: 0.25rem !important; }
  .pb-sm-1,
  .py-sm-1 {
    padding-bottom: 0.25rem !important; }
  .pl-sm-1,
  .px-sm-1 {
    padding-left: 0.25rem !important; }
  .p-sm-2 {
    padding: 0.5rem !important; }
  .pt-sm-2,
  .py-sm-2 {
    padding-top: 0.5rem !important; }
  .pr-sm-2,
  .px-sm-2 {
    padding-right: 0.5rem !important; }
  .pb-sm-2,
  .py-sm-2 {
    padding-bottom: 0.5rem !important; }
  .pl-sm-2,
  .px-sm-2 {
    padding-left: 0.5rem !important; }
  .p-sm-3 {
    padding: 1rem !important; }
  .pt-sm-3,
  .py-sm-3 {
    padding-top: 1rem !important; }
  .pr-sm-3,
  .px-sm-3 {
    padding-right: 1rem !important; }
  .pb-sm-3,
  .py-sm-3 {
    padding-bottom: 1rem !important; }
  .pl-sm-3,
  .px-sm-3 {
    padding-left: 1rem !important; }
  .p-sm-4 {
    padding: 1.5rem !important; }
  .pt-sm-4,
  .py-sm-4 {
    padding-top: 1.5rem !important; }
  .pr-sm-4,
  .px-sm-4 {
    padding-right: 1.5rem !important; }
  .pb-sm-4,
  .py-sm-4 {
    padding-bottom: 1.5rem !important; }
  .pl-sm-4,
  .px-sm-4 {
    padding-left: 1.5rem !important; }
  .p-sm-5 {
    padding: 3rem !important; }
  .pt-sm-5,
  .py-sm-5 {
    padding-top: 3rem !important; }
  .pr-sm-5,
  .px-sm-5 {
    padding-right: 3rem !important; }
  .pb-sm-5,
  .py-sm-5 {
    padding-bottom: 3rem !important; }
  .pl-sm-5,
  .px-sm-5 {
    padding-left: 3rem !important; }
  .m-sm-auto {
    margin: auto !important; }
  .mt-sm-auto,
  .my-sm-auto {
    margin-top: auto !important; }
  .mr-sm-auto,
  .mx-sm-auto {
    margin-right: auto !important; }
  .mb-sm-auto,
  .my-sm-auto {
    margin-bottom: auto !important; }
  .ml-sm-auto,
  .mx-sm-auto {
    margin-left: auto !important; } }

@media (min-width: 768px) {
  .m-md-0 {
    margin: 0 !important; }
  .mt-md-0,
  .my-md-0 {
    margin-top: 0 !important; }
  .mr-md-0,
  .mx-md-0 {
    margin-right: 0 !important; }
  .mb-md-0,
  .my-md-0 {
    margin-bottom: 0 !important; }
  .ml-md-0,
  .mx-md-0 {
    margin-left: 0 !important; }
  .m-md-1 {
    margin: 0.25rem !important; }
  .mt-md-1,
  .my-md-1 {
    margin-top: 0.25rem !important; }
  .mr-md-1,
  .mx-md-1 {
    margin-right: 0.25rem !important; }
  .mb-md-1,
  .my-md-1 {
    margin-bottom: 0.25rem !important; }
  .ml-md-1,
  .mx-md-1 {
    margin-left: 0.25rem !important; }
  .m-md-2 {
    margin: 0.5rem !important; }
  .mt-md-2,
  .my-md-2 {
    margin-top: 0.5rem !important; }
  .mr-md-2,
  .mx-md-2 {
    margin-right: 0.5rem !important; }
  .mb-md-2,
  .my-md-2 {
    margin-bottom: 0.5rem !important; }
  .ml-md-2,
  .mx-md-2 {
    margin-left: 0.5rem !important; }
  .m-md-3 {
    margin: 1rem !important; }
  .mt-md-3,
  .my-md-3 {
    margin-top: 1rem !important; }
  .mr-md-3,
  .mx-md-3 {
    margin-right: 1rem !important; }
  .mb-md-3,
  .my-md-3 {
    margin-bottom: 1rem !important; }
  .ml-md-3,
  .mx-md-3 {
    margin-left: 1rem !important; }
  .m-md-4 {
    margin: 1.5rem !important; }
  .mt-md-4,
  .my-md-4 {
    margin-top: 1.5rem !important; }
  .mr-md-4,
  .mx-md-4 {
    margin-right: 1.5rem !important; }
  .mb-md-4,
  .my-md-4 {
    margin-bottom: 1.5rem !important; }
  .ml-md-4,
  .mx-md-4 {
    margin-left: 1.5rem !important; }
  .m-md-5 {
    margin: 3rem !important; }
  .mt-md-5,
  .my-md-5 {
    margin-top: 3rem !important; }
  .mr-md-5,
  .mx-md-5 {
    margin-right: 3rem !important; }
  .mb-md-5,
  .my-md-5 {
    margin-bottom: 3rem !important; }
  .ml-md-5,
  .mx-md-5 {
    margin-left: 3rem !important; }
  .p-md-0 {
    padding: 0 !important; }
  .pt-md-0,
  .py-md-0 {
    padding-top: 0 !important; }
  .pr-md-0,
  .px-md-0 {
    padding-right: 0 !important; }
  .pb-md-0,
  .py-md-0 {
    padding-bottom: 0 !important; }
  .pl-md-0,
  .px-md-0 {
    padding-left: 0 !important; }
  .p-md-1 {
    padding: 0.25rem !important; }
  .pt-md-1,
  .py-md-1 {
    padding-top: 0.25rem !important; }
  .pr-md-1,
  .px-md-1 {
    padding-right: 0.25rem !important; }
  .pb-md-1,
  .py-md-1 {
    padding-bottom: 0.25rem !important; }
  .pl-md-1,
  .px-md-1 {
    padding-left: 0.25rem !important; }
  .p-md-2 {
    padding: 0.5rem !important; }
  .pt-md-2,
  .py-md-2 {
    padding-top: 0.5rem !important; }
  .pr-md-2,
  .px-md-2 {
    padding-right: 0.5rem !important; }
  .pb-md-2,
  .py-md-2 {
    padding-bottom: 0.5rem !important; }
  .pl-md-2,
  .px-md-2 {
    padding-left: 0.5rem !important; }
  .p-md-3 {
    padding: 1rem !important; }
  .pt-md-3,
  .py-md-3 {
    padding-top: 1rem !important; }
  .pr-md-3,
  .px-md-3 {
    padding-right: 1rem !important; }
  .pb-md-3,
  .py-md-3 {
    padding-bottom: 1rem !important; }
  .pl-md-3,
  .px-md-3 {
    padding-left: 1rem !important; }
  .p-md-4 {
    padding: 1.5rem !important; }
  .pt-md-4,
  .py-md-4 {
    padding-top: 1.5rem !important; }
  .pr-md-4,
  .px-md-4 {
    padding-right: 1.5rem !important; }
  .pb-md-4,
  .py-md-4 {
    padding-bottom: 1.5rem !important; }
  .pl-md-4,
  .px-md-4 {
    padding-left: 1.5rem !important; }
  .p-md-5 {
    padding: 3rem !important; }
  .pt-md-5,
  .py-md-5 {
    padding-top: 3rem !important; }
  .pr-md-5,
  .px-md-5 {
    padding-right: 3rem !important; }
  .pb-md-5,
  .py-md-5 {
    padding-bottom: 3rem !important; }
  .pl-md-5,
  .px-md-5 {
    padding-left: 3rem !important; }
  .m-md-auto {
    margin: auto !important; }
  .mt-md-auto,
  .my-md-auto {
    margin-top: auto !important; }
  .mr-md-auto,
  .mx-md-auto {
    margin-right: auto !important; }
  .mb-md-auto,
  .my-md-auto {
    margin-bottom: auto !important; }
  .ml-md-auto,
  .mx-md-auto {
    margin-left: auto !important; } }

@media (min-width: 992px) {
  .m-lg-0 {
    margin: 0 !important; }
  .mt-lg-0,
  .my-lg-0 {
    margin-top: 0 !important; }
  .mr-lg-0,
  .mx-lg-0 {
    margin-right: 0 !important; }
  .mb-lg-0,
  .my-lg-0 {
    margin-bottom: 0 !important; }
  .ml-lg-0,
  .mx-lg-0 {
    margin-left: 0 !important; }
  .m-lg-1 {
    margin: 0.25rem !important; }
  .mt-lg-1,
  .my-lg-1 {
    margin-top: 0.25rem !important; }
  .mr-lg-1,
  .mx-lg-1 {
    margin-right: 0.25rem !important; }
  .mb-lg-1,
  .my-lg-1 {
    margin-bottom: 0.25rem !important; }
  .ml-lg-1,
  .mx-lg-1 {
    margin-left: 0.25rem !important; }
  .m-lg-2 {
    margin: 0.5rem !important; }
  .mt-lg-2,
  .my-lg-2 {
    margin-top: 0.5rem !important; }
  .mr-lg-2,
  .mx-lg-2 {
    margin-right: 0.5rem !important; }
  .mb-lg-2,
  .my-lg-2 {
    margin-bottom: 0.5rem !important; }
  .ml-lg-2,
  .mx-lg-2 {
    margin-left: 0.5rem !important; }
  .m-lg-3 {
    margin: 1rem !important; }
  .mt-lg-3,
  .my-lg-3 {
    margin-top: 1rem !important; }
  .mr-lg-3,
  .mx-lg-3 {
    margin-right: 1rem !important; }
  .mb-lg-3,
  .my-lg-3 {
    margin-bottom: 1rem !important; }
  .ml-lg-3,
  .mx-lg-3 {
    margin-left: 1rem !important; }
  .m-lg-4 {
    margin: 1.5rem !important; }
  .mt-lg-4,
  .my-lg-4 {
    margin-top: 1.5rem !important; }
  .mr-lg-4,
  .mx-lg-4 {
    margin-right: 1.5rem !important; }
  .mb-lg-4,
  .my-lg-4 {
    margin-bottom: 1.5rem !important; }
  .ml-lg-4,
  .mx-lg-4 {
    margin-left: 1.5rem !important; }
  .m-lg-5 {
    margin: 3rem !important; }
  .mt-lg-5,
  .my-lg-5 {
    margin-top: 3rem !important; }
  .mr-lg-5,
  .mx-lg-5 {
    margin-right: 3rem !important; }
  .mb-lg-5,
  .my-lg-5 {
    margin-bottom: 3rem !important; }
  .ml-lg-5,
  .mx-lg-5 {
    margin-left: 3rem !important; }
  .p-lg-0 {
    padding: 0 !important; }
  .pt-lg-0,
  .py-lg-0 {
    padding-top: 0 !important; }
  .pr-lg-0,
  .px-lg-0 {
    padding-right: 0 !important; }
  .pb-lg-0,
  .py-lg-0 {
    padding-bottom: 0 !important; }
  .pl-lg-0,
  .px-lg-0 {
    padding-left: 0 !important; }
  .p-lg-1 {
    padding: 0.25rem !important; }
  .pt-lg-1,
  .py-lg-1 {
    padding-top: 0.25rem !important; }
  .pr-lg-1,
  .px-lg-1 {
    padding-right: 0.25rem !important; }
  .pb-lg-1,
  .py-lg-1 {
    padding-bottom: 0.25rem !important; }
  .pl-lg-1,
  .px-lg-1 {
    padding-left: 0.25rem !important; }
  .p-lg-2 {
    padding: 0.5rem !important; }
  .pt-lg-2,
  .py-lg-2 {
    padding-top: 0.5rem !important; }
  .pr-lg-2,
  .px-lg-2 {
    padding-right: 0.5rem !important; }
  .pb-lg-2,
  .py-lg-2 {
    padding-bottom: 0.5rem !important; }
  .pl-lg-2,
  .px-lg-2 {
    padding-left: 0.5rem !important; }
  .p-lg-3 {
    padding: 1rem !important; }
  .pt-lg-3,
  .py-lg-3 {
    padding-top: 1rem !important; }
  .pr-lg-3,
  .px-lg-3 {
    padding-right: 1rem !important; }
  .pb-lg-3,
  .py-lg-3 {
    padding-bottom: 1rem !important; }
  .pl-lg-3,
  .px-lg-3 {
    padding-left: 1rem !important; }
  .p-lg-4 {
    padding: 1.5rem !important; }
  .pt-lg-4,
  .py-lg-4 {
    padding-top: 1.5rem !important; }
  .pr-lg-4,
  .px-lg-4 {
    padding-right: 1.5rem !important; }
  .pb-lg-4,
  .py-lg-4 {
    padding-bottom: 1.5rem !important; }
  .pl-lg-4,
  .px-lg-4 {
    padding-left: 1.5rem !important; }
  .p-lg-5 {
    padding: 3rem !important; }
  .pt-lg-5,
  .py-lg-5 {
    padding-top: 3rem !important; }
  .pr-lg-5,
  .px-lg-5 {
    padding-right: 3rem !important; }
  .pb-lg-5,
  .py-lg-5 {
    padding-bottom: 3rem !important; }
  .pl-lg-5,
  .px-lg-5 {
    padding-left: 3rem !important; }
  .m-lg-auto {
    margin: auto !important; }
  .mt-lg-auto,
  .my-lg-auto {
    margin-top: auto !important; }
  .mr-lg-auto,
  .mx-lg-auto {
    margin-right: auto !important; }
  .mb-lg-auto,
  .my-lg-auto {
    margin-bottom: auto !important; }
  .ml-lg-auto,
  .mx-lg-auto {
    margin-left: auto !important; } }

@media (min-width: 1200px) {
  .m-xl-0 {
    margin: 0 !important; }
  .mt-xl-0,
  .my-xl-0 {
    margin-top: 0 !important; }
  .mr-xl-0,
  .mx-xl-0 {
    margin-right: 0 !important; }
  .mb-xl-0,
  .my-xl-0 {
    margin-bottom: 0 !important; }
  .ml-xl-0,
  .mx-xl-0 {
    margin-left: 0 !important; }
  .m-xl-1 {
    margin: 0.25rem !important; }
  .mt-xl-1,
  .my-xl-1 {
    margin-top: 0.25rem !important; }
  .mr-xl-1,
  .mx-xl-1 {
    margin-right: 0.25rem !important; }
  .mb-xl-1,
  .my-xl-1 {
    margin-bottom: 0.25rem !important; }
  .ml-xl-1,
  .mx-xl-1 {
    margin-left: 0.25rem !important; }
  .m-xl-2 {
    margin: 0.5rem !important; }
  .mt-xl-2,
  .my-xl-2 {
    margin-top: 0.5rem !important; }
  .mr-xl-2,
  .mx-xl-2 {
    margin-right: 0.5rem !important; }
  .mb-xl-2,
  .my-xl-2 {
    margin-bottom: 0.5rem !important; }
  .ml-xl-2,
  .mx-xl-2 {
    margin-left: 0.5rem !important; }
  .m-xl-3 {
    margin: 1rem !important; }
  .mt-xl-3,
  .my-xl-3 {
    margin-top: 1rem !important; }
  .mr-xl-3,
  .mx-xl-3 {
    margin-right: 1rem !important; }
  .mb-xl-3,
  .my-xl-3 {
    margin-bottom: 1rem !important; }
  .ml-xl-3,
  .mx-xl-3 {
    margin-left: 1rem !important; }
  .m-xl-4 {
    margin: 1.5rem !important; }
  .mt-xl-4,
  .my-xl-4 {
    margin-top: 1.5rem !important; }
  .mr-xl-4,
  .mx-xl-4 {
    margin-right: 1.5rem !important; }
  .mb-xl-4,
  .my-xl-4 {
    margin-bottom: 1.5rem !important; }
  .ml-xl-4,
  .mx-xl-4 {
    margin-left: 1.5rem !important; }
  .m-xl-5 {
    margin: 3rem !important; }
  .mt-xl-5,
  .my-xl-5 {
    margin-top: 3rem !important; }
  .mr-xl-5,
  .mx-xl-5 {
    margin-right: 3rem !important; }
  .mb-xl-5,
  .my-xl-5 {
    margin-bottom: 3rem !important; }
  .ml-xl-5,
  .mx-xl-5 {
    margin-left: 3rem !important; }
  .p-xl-0 {
    padding: 0 !important; }
  .pt-xl-0,
  .py-xl-0 {
    padding-top: 0 !important; }
  .pr-xl-0,
  .px-xl-0 {
    padding-right: 0 !important; }
  .pb-xl-0,
  .py-xl-0 {
    padding-bottom: 0 !important; }
  .pl-xl-0,
  .px-xl-0 {
    padding-left: 0 !important; }
  .p-xl-1 {
    padding: 0.25rem !important; }
  .pt-xl-1,
  .py-xl-1 {
    padding-top: 0.25rem !important; }
  .pr-xl-1,
  .px-xl-1 {
    padding-right: 0.25rem !important; }
  .pb-xl-1,
  .py-xl-1 {
    padding-bottom: 0.25rem !important; }
  .pl-xl-1,
  .px-xl-1 {
    padding-left: 0.25rem !important; }
  .p-xl-2 {
    padding: 0.5rem !important; }
  .pt-xl-2,
  .py-xl-2 {
    padding-top: 0.5rem !important; }
  .pr-xl-2,
  .px-xl-2 {
    padding-right: 0.5rem !important; }
  .pb-xl-2,
  .py-xl-2 {
    padding-bottom: 0.5rem !important; }
  .pl-xl-2,
  .px-xl-2 {
    padding-left: 0.5rem !important; }
  .p-xl-3 {
    padding: 1rem !important; }
  .pt-xl-3,
  .py-xl-3 {
    padding-top: 1rem !important; }
  .pr-xl-3,
  .px-xl-3 {
    padding-right: 1rem !important; }
  .pb-xl-3,
  .py-xl-3 {
    padding-bottom: 1rem !important; }
  .pl-xl-3,
  .px-xl-3 {
    padding-left: 1rem !important; }
  .p-xl-4 {
    padding: 1.5rem !important; }
  .pt-xl-4,
  .py-xl-4 {
    padding-top: 1.5rem !important; }
  .pr-xl-4,
  .px-xl-4 {
    padding-right: 1.5rem !important; }
  .pb-xl-4,
  .py-xl-4 {
    padding-bottom: 1.5rem !important; }
  .pl-xl-4,
  .px-xl-4 {
    padding-left: 1.5rem !important; }
  .p-xl-5 {
    padding: 3rem !important; }
  .pt-xl-5,
  .py-xl-5 {
    padding-top: 3rem !important; }
  .pr-xl-5,
  .px-xl-5 {
    padding-right: 3rem !important; }
  .pb-xl-5,
  .py-xl-5 {
    padding-bottom: 3rem !important; }
  .pl-xl-5,
  .px-xl-5 {
    padding-left: 3rem !important; }
  .m-xl-auto {
    margin: auto !important; }
  .mt-xl-auto,
  .my-xl-auto {
    margin-top: auto !important; }
  .mr-xl-auto,
  .mx-xl-auto {
    margin-right: auto !important; }
  .mb-xl-auto,
  .my-xl-auto {
    margin-bottom: auto !important; }
  .ml-xl-auto,
  .mx-xl-auto {
    margin-left: auto !important; } }

.no-overflow {
  overflow: hidden; }

.media {
  display: flex;
  align-items: flex-start; }
  .media .media-body {
    flex: 1; }

.text-none {
  text-transform: none !important; }

.text-right {
  text-align: right !important; }

.text-left {
  text-align-last: left !important; }

.text-center {
  text-align: center !important; }

.text-upper {
  text-transform: uppercase !important; }

@media (max-width: 768px) {
  .hide-mobile {
    display: none !important; } }

@media (max-width: 768px) {
  .auto-height {
    height: auto !important; } }

/* 	mixins and variables  */
/* ----------------------------------------- */
/* ----------------------------------------- 	mixins and variables */
/* 	masonry  */
/* ----------------------------------------- */
.wrap-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .wrap-content.block-5 .item--width-8 {
      margin-top: -95px; } }
  @media (min-width: 768px) {
    .wrap-content.block-6 .item--width-2 {
      margin-top: -160px; } }
  @media (min-width: 768px) {
    .wrap-content.block-6 .item--width-8 {
      margin-top: -310px; } }

.item {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 315px; }
  @media (min-width: 768px) {
    .item {
      height: 320px;
      margin-bottom: 40px; } }
  .item .content {
    padding: 40px 20px; }
    @media (min-width: 768px) {
      .item .content {
        padding: 40px; } }
    .item .content h3 {
      letter-spacing: normal;
      margin-bottom: 30px;
      color: inherit;
      text-transform: none;
      font-size: 20px; }
    .item .content p {
      text-align: justify;
      margin: 0;
      font-size: 14px;
      line-height: 1.313; }
      @media (min-width: 768px) {
        .item .content p {
          font-size: 16px;
          line-height: 1.313; } }
    .item .content hr {
      border-color: transparent;
      border: 0; }
  .item--width-100 {
    width: 100%; }
  .item--width-2 {
    width: 100%; }
    @media (min-width: 768px) {
      .item--width-2 {
        width: calc(30% - 40px); } }
  .item--width-4 {
    width: 100%; }
    @media (min-width: 768px) {
      .item--width-4 {
        width: 40%; } }
  .item--width-8 {
    width: 100%; }
    @media (min-width: 768px) {
      .item--width-8 {
        width: calc(60% - 40px); } }
  .item--height-2 {
    height: 360px; }
  .item--height-3 {
    height: 225px; }
  .item--height-4 {
    height: 390px; }
  .item--height-5 {
    height: 240px; }
  .item--height-6 {
    height: 340px; }
  .item--height-7 {
    height: 270px !important; }

/* ----------------------------------------- 	masonry */
.arp-header {
  display: flex;
  flex-wrap: wrap;
  max-width: 895px;
  margin: 0 auto;
  padding-top: 40px; }
  .arp-header__mobile .arp-logo {
    max-width: 35px;
    margin-bottom: 0; }
  .arp-header__mobile h3 {
    letter-spacing: normal;
    text-transform: none; }
  .arp-header__left {
    flex: 0 0 100%;
    max-width: 100%; }
    .arp-header__left h3 {
      margin-bottom: 35px;
      letter-spacing: normal;
      text-transform: none;
      font-size: 15px; }
    .arp-header__left p {
      margin: 0;
      font-size: 11px; }
    @media (min-width: 768px) {
      .arp-header__left {
        flex: 0 0 18%;
        max-width: 18%; } }
  .arp-header__right {
    flex: 0 0 100%;
    max-width: 100%; }
    @media (min-width: 768px) {
      .arp-header__right {
        flex: 0 0 82%;
        max-width: 82%; } }

.arp-logo {
  margin-bottom: 150px; }


.height-auto {
  height: auto !important;
}