.sustentabilidade-page .row {
  width: auto; }

.sustentabilidade-page .img-fluid {
  max-width: 100%;
  height: auto; }

.sustentabilidade-page .section {
  margin: 80px 0;
  text-align: center; }
  .sustentabilidade-page .section h2 {
    font-family: 'DocumentaTcap'; }

.sustentabilidade-page .section-depoimento .depoimento {
  font-style: italic;
  color: gray;
  margin-bottom: 45px; }

.sustentabilidade-page .section-artigos .pilares {
  text-align: left; }
  .sustentabilidade-page .section-artigos .pilares .desc {
    font-size: 90%; }

@media (min-width: 768px) {
  .sustentabilidade-page .section-depoimento .depoimento, .sustentabilidade-page .section-apoio {
    text-align: left; } }

@media (min-width: 992px) {
  .sustentabilidade-page .section {
    margin: 100px 0 90px; }
  .sustentabilidade-page .depoimento p {
    line-height: inherit; }
  .sustentabilidade-page .subtitulo {
    max-width: 70%;
    margin: 0 auto; }
  .sustentabilidade-page h2 {
    font-size: 32px; } }

/*# sourceMappingURL=sustentabilidade.css.map */