@import "classes";

/* 	mixins and variables  */
/* ----------------------------------------- */
@mixin flex($value) {
  flex: 0 0 $value;
  max-width: $value;
}

$screen-sm: 768px;
/* ----------------------------------------- 	mixins and variables */

/* 	masonry  */
/* ----------------------------------------- */
.wrap-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &.block-5 {
    .item--width-8 {
      @media (min-width: 768px) {
        margin-top: -95px;
      }
    }
  }

  &.block-6 {
    .item--width-2 {
      @media (min-width: 768px) {
        margin-top: -160px;
      }
    }
    .item--width-8 {
      @media (min-width: 768px) {
        margin-top: -310px;
      }
    }
  }
}

.item {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 315px;

  @media(min-width: $screen-sm) {
    height: 320px;
    margin-bottom: 40px;
  }

  .content {
    padding: 40px 20px;

    @media (min-width: 768px) {
      padding: 40px;
    }

    h3 {
      letter-spacing: normal;
      margin-bottom: 30px;
      color: inherit;
      text-transform: none;
      font-size: 20px;      
    }

    p {
      text-align: justify;
      margin: 0;
      font-size: 14px;
      line-height: 1.313;

      @media (min-width: 768px) {
        font-size: 16px;
        line-height: 1.313;
      }
    }

    hr {
      border-color: transparent;
      border: 0;
    }
  }

  &--width-100 {
    width: 100%;
  }

  &--width-2 {
    width: 100%;
    @media(min-width: $screen-sm) {
      width: calc(30% - 40px);
    }
  }

  &--width-4 {
    width: 100%;
    @media(min-width: $screen-sm) {
      width: 40%;
    }
  }

  &--width-8 {
    width: 100%;
    @media(min-width: $screen-sm) {
      width: calc(60% - 40px);
    }
  }

  &--height-2 { height: 360px; }

  &--height-3 { height: 225px; }

  &--height-4 { height: 390px; }

  &--height-5 { height: 240px; }

  &--height-6 { height: 340px; }

  &--height-7 { height: 270px !important; }
}
/* ----------------------------------------- 	masonry */

.arp-header {
  display: flex;
  flex-wrap: wrap;
  max-width: 895px;
  margin: 0 auto;
  padding-top: 40px;

  &__mobile {
    .arp-logo {
      max-width: 35px;
      margin-bottom: 0;
    }
    h3 {
      letter-spacing: normal;
      text-transform: none;
    }
  }

  &__left {
    @include flex(100%);

    h3 {
      margin-bottom: 35px;
      letter-spacing: normal;
      text-transform: none;
      font-size: 15px;
    }

    p {
      margin: 0;
      font-size: 11px;
    }

    @media (min-width: 768px) {
      @include flex(18%);
    }
  }

  &__right {
    @include flex(100%);
    @media (min-width: 768px) {
      @include flex(82%);
    }
  }
}

.arp-logo {
  margin-bottom: 150px;
}