.sustentabilidade-page {
  .row {
    width: auto;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  .section {
    margin: 80px 0;
    text-align: center;

    h2 {
      font-family: 'DocumentaTcap';
    }
  }

  .section-depoimento {

    .depoimento {
      font-style: italic;
      color: gray;
      margin-bottom: 45px;      
    }
  }


  .section-artigos {
    .pilares {
      text-align: left;

      .desc {
        font-size: 90%;
      }
    }
  }

  @media (min-width: 768px) {
    .section-depoimento .depoimento, .section-apoio {
      text-align: left;      
    }
  }

  
  @media (min-width: 992px) {
    .section {
      margin: 100px 0 90px;
    }
    .depoimento p {
      line-height: inherit;
    }
    .subtitulo {
      max-width: 70%;
      margin: 0 auto;
    }
    h2 {
      font-size: 32px;
      // margin-bottom: 16px;
    }
  }


}