/*
Theme Name: Hotel Bossa 1.2
Theme URI: http://zagollc.com
Author: Filippo Della Casa
Version: 1.2
Author URI: http://filippodellacasa.com 
Bitbucket Plugin URI: aido-partnerprogrammer/arpoadorinn
*/

/* =Reset
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight:normal;
}
html {
	overflow-y: scroll;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:focus {
	outline: thin dotted;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}
del {
	color: #333;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin: 24px;
	margin-bottom: 1.714285714rem;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
small {
	font-size: smaller;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

/* Clearing floats */
.clear:after,
.wrapper:after,
.format-status .entry-header:after {
	clear: both;
}
.clear:before,
.clear:after,
.wrapper:before,
.wrapper:after,
.format-status .entry-header:before,
.format-status .entry-header:after {
	display: table;
	content: "";
}


/* Responsive images */
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large,
img.header-image,
img.wp-post-image {
	max-width: 100%;
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

/* Make sure videos and embeds fit their containers */
embed,
iframe,
object,
video {
	max-width: 100%;
}
.entry-content .twitter-tweet-rendered {
	max-width: 100% !important; /* Override the Twitter embed fixed width */
}

/* Images */
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}



/* =Basic structure
-------------------------------------------------------------- */


/* Typo **************************/

@font-face {
    font-family: 'SorceSansLight';
    src: url('fonts/sourcesansprolight.eot');
    src: url('fonts/sourcesansprolight.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesansprolight.woff') format('woff'),
         url('fonts/sourcesansprolight.ttf') format('truetype'),
         url('fonts/sourcesansprolight.svg#SorceSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SorceSansRegular';
    src: url('fonts/sourcesansproregular.eot');
    src: url('fonts/sourcesansproregular.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesansproregular.woff') format('woff'),
         url('fonts/sourcesansproregular.ttf') format('truetype'),
         url('fonts/sourcesansproregular.svg#SorceSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SorceSansSemiBold';
    src: url('fonts/sourcesansprosemibold-webfont.eot');
    src: url('fonts/sourcesansprosemibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesansprosemibold-webfont.woff') format('woff'),
         url('fonts/sourcesansprosemibold-webfont.ttf') format('truetype'),
         url('fonts/sourcesansprosemibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*
@font-face {
    font-family: 'SorceSansBold';
    src: url('fonts/sourcesansprobold.eot');
    src: url('fonts/sourcesansprobold.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesansprobold.woff') format('woff'),
         url('fonts/sourcesansprobold.ttf') format('truetype'),
         url('fonts/sourcesansprobold.svg#SorceSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
@font-face {
    font-family: 'DocumentaStandard';
    src: url('fonts/DTLDocST.eot');
    src: url('fonts/DTLDocST.eot?#iefix') format('embedded-opentype'),
         url('fonts/DTLDocST.woff') format('woff'),
         url('fonts/DTLDocST.ttf') format('truetype'),
         url('fonts/DTLDocST.svg#DocumentaStandard') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*
@font-face {
    font-family: 'DocumentaStandardItalic';
    src: url('fonts/DTLDocSTIta.eot');
    src: url('fonts/DTLDocSTIta.eot?#iefix') format('embedded-opentype'),
         url('fonts/DTLDocSTIta.woff') format('woff'),
         url('fonts/DTLDocSTIta.ttf') format('truetype'),
         url('fonts/DTLDocSTIta.svg#DocumentaStandardItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
@font-face {
    font-family: 'DocumentaStandardMedium';
    src: url('fonts/DTLDocSTMed.eot');
    src: url('fonts/DTLDocSTMed.eot?#iefix') format('embedded-opentype'),
         url('fonts/DTLDocSTMed.woff') format('woff'),
         url('fonts/DTLDocSTMed.ttf') format('truetype'),
         url('fonts/DTLDocSTMed.svg#DocumentaStandardMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DocumentaTcap';
    src: url('fonts/DTLDocTCap.eot');
    src: url('fonts/DTLDocTCap.eot?#iefix') format('embedded-opentype'),
         url('fonts/DTLDocTCap.woff') format('woff'),
         url('fonts/DTLDocTCap.ttf') format('truetype'),
         url('fonts/DTLDocTCap.svg#DocumentaTcap') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DocumentaTcapMedium';
    src: url('fonts/DTLDocTCapMed.eot');
    src: url('fonts/DTLDocTCapMed.eot?#iefix') format('embedded-opentype'),
         url('fonts/DTLDocTCapMed.woff') format('woff'),
         url('fonts/DTLDocTCapMed.ttf') format('truetype'),
         url('fonts/DTLDocTCapMed.svg#DocumentaTcapMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Body, links, basics */
html {
	font-size: 93.75%;
}
body {
	font-size: 15px;
	font-size: 1rem;
	font-family: Calibri, sans-serif, 'Source Sans Pro', Georgia, Times, serif;
	text-rendering: optimizeLegibility;
	color: #333;
	line-height: 20px;
	background:#fff;
	font-weight:100;
}

p {
  font-size: 1em; /* 15px */
  line-height: 1.3333em; /* 20px */
  margin: 0 0 1.3333em 0;
}
h1, h2, h3, h4, h5, h6{
	color:#000;
	font-weight:normal;
	letter-spacing:2px;
}

h1{
	font-family: 'DocumentaTcapMedium';
	font-size:45px;
	padding-top:50px;
	margin-bottom:30px;
	text-transform:lowercase;
	letter-spacing:4px;
	line-height:60px;
}
h2{
	font-family: 'SorceSansRegular';
	font-size:24px;
	margin-bottom:20px;
}
h3{
	font-family: 'SorceSansRegular';
	font-size:20px;
	text-transform:uppercase;
}
h2 span, h3 span{ border-bottom:1px solid #000; margin:0; padding:0; }
h4{
	font-family: 'SorceSansRegular';
	font-size:20px;
	margin-bottom:20px;
}
h5{
	font-family: 'SorceSansRegular';
	font-size:16px;
}
h6{
	font-family: 'SorceSansSemiBold';
	font-size:15px;
	letter-spacing:0px;
}
.dst-italic{
	font-family:Georgia; font-style:italic;
	font-size:15px;
}

a{
	outline: none;
	color: #000;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
a.red{
	color:#ff1d25;
	text-decoration:underline;
}
a.red:hover{
	text-decoration:none;
}

strong{
	font-weight:bold;
}
.tcenter{
	text-align:center;
}

hr{
    height:0px;
    border-style: solid;
    border-color:#666;
    border-width: 1px 0 0 0;
	padding:0;
	margin:0;
	margin-bottom:60px;
}

img{ margin-bottom:-5px; }

.little{
	font-size:12px;
}

/* MODAL RODRIGO - INICIO */
.bg-modal,.bg-modal-en {
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 999999999999999999999999999999999999999999999999;
	top: 0;
	position: fixed;
	height: 100%;
	width: 100%;
	min-height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.box {
  width: 650px;
  height: 360px;
  background-color: #ffffff;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.Caro-hspede-Sua-re {
    padding: 20px 0;
  width: 541px;
  height: 140px;
    font-family: "SorceSansRegular";  
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
    margin: 0 auto;
}

.line {
  width: 540px;
  height: 0px;
  border: solid 1px rgba(155, 154, 155, 0.41);
    text-align: center;
    display: block;
    margin: 0 auto;
}
.Fill-15 {
  width: 24px;
      margin: 0 10px 0 0;
}
.hotel-arpoador-gmail {
  width: 160px;
  height: 50px;
  object-fit: contain;
    margin: 20px 0;
}

.Por-favor-aguarde {

	width: 400px;
	height: 20px;
	font-family: "SorceSansRegular";
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	margin: 0 auto;
	color: #39393a;

	vertical-align: middle;
	display: flex;
}
/* MODAL RODRIGO - Fim */

.btn{
	width:100%;
	display:inline-block;
	font-family: Georgia; font-style:italic;
	height: 40px;
	line-height:40px;
	text-align:center;
	font-size:15px; 
	background:#000;
	color:#fff;
	border:0px;
	cursor:pointer;
}
	.btn:hover{
		background:#e1e1e1;
		color:#000;
	}
.border-top{
	border-top:1px solid #666;
}
/* LAYOUT CONTAINERS ***********************/



#mobile-wrap{
	background: #fff;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}
	#mobile-icon{
		display: none;
	}
#drawer{
	position: fixed;
	left: -200px;
	top: 0px;
	width: 200px;
	height: 100%;
	z-index: 1;
	background: #000;
}

@media only screen
and (min-width : 320px)
and (max-width : 480px) {

	#mobile-icon{
		display: inline-block;
		position: absolute;
		background: url(imgs/mobile-icon.42x40.png);
		width: 42px;
		height: 40px;
		z-index: 999;
		cursor: pointer;
		left: 5px;
		top: 5px;
	}

	#site-navigation{
		display: none;
	}
	#masthead{
		height: 120px;
	}
	.home #masthead{
		height: 200px !important;
	}
	.home #logo{
		top:65px !important;
	}

	/* drawer */
	.nav-menu-drawer{
		margin:60px 0px 0px 20px;
	}
	.nav-menu-drawer li a{
		color: #fff;
		font-family: 'SorceSansRegular';
		font-size: 18px;
		line-height: 36px;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}


/* principal wrapper 996px wide for desktops */
.margin-wide, .ext-wrap{
	margin:0 auto;
	width:996px; /* desktop */
	position:relative;
}
/* home fullscreen with margin left and right of 15px */
.home .margin-wide, .page-wide{
	width:auto;
	margin:0px 15px;
}


#mediaquery{
	display:none;
	float:none;
}

/* Header */

#main{
	position:relative;
	z-index:2;
	margin-top:103px;
	background:#fff;
}
		
	.subtitle{
		width:540px;
		margin:0 auto;
		font-size:16px;
	}
	section, .section{ 
		margin-bottom:20px; 
	}
	
	.spacer40{ width:100%; height:40px;}
	.spacer45{ width:100%; height:45px;}
	.spacer60{ width:100%; height:60px;}
	.spacer80{ width:100%; height:100px;}	
	.margin5{ margin-bottom:5px;}
	
/* grid */
.row{
	width:960px;
	margin:0 auto;
}	
	.col3{
		width:300px;
		margin:0px 10px;
		float:left;
		min-height:1px;
	}
	.col2{
		width:510px;
		margin:0px 10px;
		padding-right:30px;
		float:left;
		min-height:1px;
	}
	.col1{
		width:370px;
		margin:0px 10px;
		float:left;
		min-height:1px;
	}
	
	
/* LAYOUT CONTAINERS ***********************/


/* header *********************/
header{
	position:fixed;
	width:100%;
	z-index:3;
	top:0px;
	left:0px;
	background:#fff;
	height:100px;
}
	/* logo */
	#logo-small{
		position:absolute;
		left:0px;
		top:20px;
		width:132px;
		height:49px;
		background:url(imgs/logo_arpoadorinn_peq_132x49.png) no-repeat;
	}
	/* Navigation Menu */
	nav.main-navigation {
		text-align:center;
		position:absolute;
		top:35px;
		width:100%;
		
	}
	html[lang=pt-br] nav.main-navigation{
	}
	html[lang=en-US] nav.main-navigation{
	}
	.main-navigation ul{
		display:inline-block;
	}
	.main-navigation li{
		float:left;
	}
	.main-navigation a {
		font-family:'SorceSansRegular';
		text-transform:uppercase;
		font-style:normal;
		font-size:15px;
		padding:0px 14px;
		letter-spacing: 2px;		
	}
	.main-navigation li.current_page_item a, .main-navigation li.current-page-ancestor a, .main-navigation a:hover{
		color:#ff0000;
		text-decoration:none;
	}
		.main-navigation li:first-child a{
			padding-left:0px;
		}
		.main-navigation li:last-child a{
			padding-right:0px;
		}
	/* END Navigation Menu */

	/* lang */		
	header nav#lang-switch{
		position:absolute;
		top:35px;
		right:0px;
	}
		ul.languages{
			margin-right:-12px;
			text-transform:uppercase;	
		}
		ul.languages li{
			float:left;
			margin-right:12px;
		}
		ul.languages li:last-child{
		}
		ul.languages li a span{
			font-style:normal;
			font-size:12px;
			font-family:'SorceSansRegular';
		}
		ul.languages li a {
			text-decoration: none;
		}
		ul.languages li span.flag-active, ul.languages li span:hover {
			border-bottom:2px solid #000;
		}
		ul.languages li span.flag-active{
			font-family:'SorceSansSemiBold';
			font-weight:bold;				
			font-size:12px;
		}
			
	#book-now-btn{
		height:30px;
		line-height:30px;
		width:auto;
		padding:0px 10px;
		position:absolute;
		top:35px;
		right:70px;
		display:none;
		opacity:0;
	}
	
	#line-bottom{
		width:100%;
		height:1px;
		position:absolute;
		top:102px;
		background:#666;
	}
/* END Header */	


/* HOME *******************************/
#home-header{
	position:fixed;
	width:100%;
	top:0px;
	left:0px;
	height:225px;
	background:#fff;
}
	#logo{
		width:230px;
		height:117px;
		position:absolute;
		left:50%;
		margin-left:-115px;
		top:100px;
		background:url(imgs/logo_arpoadorinn_230x117.png) no-repeat;
	}
	#link-hotel{
		position:absolute;
		top:186px;
	}
		.link-other-hotel a{
			font-size:14px;
		}
			.link-other-hotel a span, ul.icon, ul.nav-plants, .tit-cap, #lang-switch ul li{
				font-style:normal;
				font-size:15px;
				text-transform:uppercase;
				font-family: 'SorceSansRegular';
			}
			.arrow{
				display:inline-block;
				width:13px;
				height:5px;
				background:url(imgs/arrow.png);
				margin:-10px 5px 0px 5px;
			}

nav#lang-switch-home{
	position:absolute;
	right:0px;
	top:186px;
}

#book-now-bar{
	width:100%;
	height:44px;
	background:#000;
}
	.bar-locked{
		position:fixed;
		top:100px;
		z-index:999;
		width:inherit;
	}
	.bar-locked-page{
		position:fixed;
		top:100px;
		z-index:999;
		width:100%;
	}

.home #main{
	margin-top:225px;
}
.home #logo-small, .home #lang-switch{
	display:none;
	opacity:0;
}


/* book now bar!!!! */
#book-now-bar ul{
	position:relative;
	margin:0 auto;
	padding:0;
	height:30px;
	top:6px;
	line-height:30px;
	text-align:center;
}
#book-now-bar ul li{ 
	display:inline-block; 
	margin:0px 4px 0px 0px; 
	padding:0;  
	height:30px; 
}
#book-now-bar ul li:last-child{
	margin-right: 0px;
}
#book-now-bar input.input-date, #book-now-bar div, #book-now-bar select ,#book-now-bar a { 
	width:140px; 
	height:30px; 
	margin:0; 
	padding:0; 
	border:0; 
	line-height:30px; 
	display:inline-block; 
	font-size:14px; 
	font-family:'DocumentaTcap'; 
	cursor:pointer; 
	text-transform:lowercase; 
	font-style:normal; 
}
#book-now-bar select { background-color: #fff; }
#book-now-bar option {
	/*width:140px; */
	/*height:30px; */
	/*margin:0; */
	/*padding:0; */
	/*border:0; */
	/*line-height:30px; */
	/*display:inline-block; */
	font-size:14px; 
	font-family:'DocumentaTcap'; 
	cursor:pointer; 
	text-transform:lowercase; 
	font-style:normal; 
}
#book-now-bar a{ font-family:Georgia; font-style:italic; text-transform:none !important; }
input.input-date{
	background:url(imgs/imput-date.png) no-repeat;
	padding-left:10px !important;
}
#uniform-adult{
	background:url(imgs/imput-adults.png) no-repeat;
	padding-left:10px !important;
}
div.selector{ position:relative; text-align:left; }
div.selector select {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	border: 0;
	background: 0;
	/*font-size:14px; font-family:'DocumentaStandardItalic';*/
}
#book-now-bar a.bt{ width:150px; background:#000; text-align:center; color:#fff; border:1px solid #666 !important; font-size:15px; }
#book-now-bar a.bt:hover{ background:#ff0000; text-decoration:none; }
#book-now-bar .book-now-mobile{ display:none;  }
/* HOME *******************************/

/* SLIDESHOW !!!!! */
.slides{
	display:none;
}
    .slidesjs-pagination {
		display:none !important; /* desabilitar o slider */
		  width:100%;
		  text-align:center;
		  list-style: none;
		  margin:20px 0px;
    }
    .slidesjs-pagination li {
		display:inline-block;
		margin:0px 7px;
    }
    .slidesjs-pagination li a {
      display: block;
      width: 20px;
	  height:0px;
	  padding-top:20px;
      background-image: url(imgs/dots.png);
      background-position: 0 -20px;
      overflow: hidden;
    }
    .slidesjs-pagination li a:hover, .slidesjs-pagination li a.active, .slidesjs-pagination li a:hover.active {
      background-position: 0 0px
    }
	.slidesjs-pagination li a.nop{
	  padding-top:0px;
      background-image:none;
	}

/* grid rooms home */
.grid-rooms .col2{
	padding-top:30px;
	padding-right:0px;
	width:540px;
}
.grid-rooms .r-right{
	float:right;
	margin-left:20px;
	margin-bottom:20px;
}
.grid-rooms .r-left{
	float:left;
	margin-right:20px;
	margin-bottom:20px;
}

.grid-slider{ position:relative; }

	#img-pos-0, #img-pos-0 img{ 
		max-width:500px;
		/*max-height:340px;*/
		overflow:hidden;
	}
	#img-pos-1, #img-pos-1 img{ 
		max-width:260px;
		/*max-height:300px;*/
		overflow:hidden;
	}
	#img-pos-2, #img-pos-2 img{ 
		max-width:390px;
		/*max-height:250px;*/
		overflow:hidden;
	}

.room-img-grid{ position:relative; }
.room-img-grid div.over{ 
	position:absolute; width:100%; height:100%; background:rgba(0,0,0,.5); top:0px; left:0px; 
	text-align:center;
	font-family:'SorceSansRegular';
	text-transform:uppercase;
	font-size:20px;
	letter-spacing:2px;
	opacity:0;
	color:#fff; 
}

#room-slides{
	display:none;
}


.btlink{
	font-family:'SorceSansRegular';
	text-transform:uppercase;
	font-size:12px;
	margin:30px 0px 40px 0px;
}
	.btlink span{
		font-family:'DocumentaTcapMedium';
		font-size:20px;
		padding-left:5px;
		text-transform:lowercase;
	}

/* map block *************/
#bg-map{
	background:#bdebed;
}	
.home #content-info-map{ display:none; }
	
/* Guests block **********/
.subheader{
	width:470px; 
	margin:0 auto;
	/*font-family:'SorceSansRegular';
	text-transform:uppercase;
	font-size:12px;*/
	line-height:20px;
	margin-bottom:60px;
}
	.subheader span{ /*font-family: 'SorceSansLight';*/ font-size:16px; text-transform:none; }
	.subheader a:hover{ color:#ff0000; }
	.t-link{
		line-height:28px;
	}
	.t-link ul li{ display:inline-block; margin-right:10px; }
	.tlogop{
		display:inline-block;
		background:url(imgs/tlogop.jpg) no-repeat;
		width:46px;
		height:28px;
		vertical-align:bottom;
	}
	.t-log{
		background:url(imgs/t-log.jpg) no-repeat;
		width:34px;
		height:22px;
		display:inline-block;
		vertical-align:bottom;
	}

#gr0, #gr0 img{ max-width:560px; }	
#gr1, #gr1 img{ max-width:190px; }	
#gr2, #gr2 img{ max-width:270px; }	
#gr3, #gr3 img{ max-width:200px; }	
#gr4, #gr4 img{ max-width:340px; }	
.placeholder{ min-width:190px; min-height:190px; }

#gr1 .photo-txt{
	margin-left:18px;
}

.photo-txt{ width:320px; margin:0px auto 20px auto; }
a.no-style:hover { text-decoration:none; }
.photo-txt img.pu{
	display:inline-block;
	float:none;
	vertical-align:middle;
}
.photo-txt .name{ margin-top:20px; vertical-align:middle; }
	
/* City and Sea Block */
.cs-block{
	padding:50px 0px 5px 0px;
}	
.cs-block #logo-cityandsea{
	margin: 0;
}
.cs-block h1{
	padding:30px 0px 55px 0px;
	margin:0;
}
	
		.cs-block p{
			line-height:normal;
			margin:0;
			margin-bottom:20px;
		}
			.cs-block p.tit{
				font-family: 'SorceSansRegular';
				font-size:24px;
				text-transform:uppercase;
				line-height:26px;
				margin-top:20px;
			}
			.cs-block .dst-italic{
				font-size:16px;
			}
			.cs-block p.sub-tit{
				font-size:20px !important;
			}
			.bordeup{
				border-top:1px solid #666;
			}
	
	
/* Footer ***************************/	
footer{
}
footer .book-now-mobile{
	display:none;
}

ul#footer-menu{
	margin-bottom:20px;
}
	ul#footer-menu a{
		font-family:'SorceSansSemiBold';
		font-size:15px;
		text-decoration:underline;
		line-height:24px;
	}
	ul#footer-menu a:hover{
		/*font-family:'SorceSansSemiBold';*/
		text-decoration:none;
	}

ul#follow{
	margin-bottom:40px;
	margin-top:10px;
}
	ul#follow li{
    display: inline-block;
		margin-right:10px;
  }

  @media (min-width: 1200px) {
    ul#follow li{
      margin-right:15px;
    }
  }

ul#newsletter{
	margin-bottom:40px;
}
	ul#newsletter li{
		display:inline-block;
		margin-right:5px;
	}
	ul#newsletter li:last-child{
		margin-right:0px;
	}
	ul#newsletter input{
		height:28px;
		max-width:165px;
	}
	ul#newsletter .btn{
		width:auto;
		/*
		background:#e1e1e1;
		color:#000;
		*/
		padding:0px 10px;
		height:30px;
		line-height:30px;
		display:inline-block;
		font-size:14px;
	}
	ul#newsletter .btn:hover{
		/*
		background:#000;
		color:#fff;
		*/
	}
	
		footer p.link-other-hotel{
			padding-top:12px;		
		}


/* END Footer ***************************/	

	
/* CONTACT *************************************/
.contact-link{
	width:100%;
	margin:0;
	margin-top:-60px;
	padding-bottom:30px;
	margin-left:30px;
	position:relative;
}
.directions{
	font-size:15px;
	line-height:20px;
}
	.directions p{
		margin-bottom:1px;
	}
	.directions p a{
		color:#ff1d25;
		text-decoration:underline;
	}
	.directions p a:hover{
		text-decoration:none;
	}

div.input{
	margin-bottom:31px;
}
div.input p{
	margin-bottom:0px;
	font-size:15px;
	font-family: Georgia; font-style:italic;
}
input, textarea{
    -webkit-appearance: none;
    border-radius: 0;
	-webkit-border-radius:0;
}
input[type='text'], input[type='email'], select, textarea{
	width:280px;
	font-size:15px;
	font-family:Calibri;
	text-rendering: optimizeLegibility;
	height: 38px;
	line-height:20px;
	border:0;
	padding:0px 10px;
	outline:none;
	border:1px solid #666;
}
input[type='text']:focus, input[type='email']:focus, select:focus, textarea:focus{
	background:rgba(255,255,204,1);
}
select{ width:300px; height:30px;}

textarea{ 
	height:142px;
	padding:10px 10px; 
	margin-bottom:-20px;
	margin-right:2px;
}
.indication{
	width:100%;
	min-height:100px;
	margin-bottom:20px;
	border-top:1px solid #666;
	font-size:14px;
	line-height:20px;
	cursor:pointer;
}
	.indication:hover, .indication.selected{
		background:#e1e1e1;
	}
	.indication .i-title{
		font-family:'SorceSansSemiBold';
		text-transform:uppercase;
		padding-top:10px;
	}
	.indication .i-text{		
	}
	.indication .i-text strong{		
		font-family: 'DocumentaTcapMedium';
		font-size:24px;
		font-weight:normal;
		text-transform:lowercase;
	}
#win-marker{
	position:absolute;
	width:360px;
	padding:10px;
	background:rgba(255,255,255,.9);
	display:none;
}
	#win-marker ul{ vertical-align:top; margin:0; padding:0; margin-left:-5px; }
	#win-marker ul li, #win-marker ul li img{ display:inline-block; text-align:left; vertical-align:top; }
	#win-marker ul li img{ margin:0;padding:0; }
	#win-marker ul li{ min-width:90px; }
	
	#win-marker .indication{
		display:inline-block;
		background:none;
		border:0;
		text-align:left;
		margin:0;
		width:250px;
		margin-left:10px;
		min-height:90px;
	}
		#win-marker .indication .i-title{ padding:0; }
		#win-marker .indication p{ margin:0; }

/* MAP MARKERS !!!!! */
#container-map{
	position:relative;
	width:996px;
	height:600px;
}
	#map{ position:absolute; left:0px; top:0px; }
	.wideimage{ margin:0 auto; width:100%; }
	.map-marker-big{ width:27px; height:35px; background:url(imgs/map-pointer-big.png) no-repeat -1px 0px; cursor:pointer; opacity:0; }
	.map-marker-big:hover{ background-position:-27px 0px; }
	
	.map-marker{ width:14px; height:17px; background:url(imgs/map-pointer-small.png) no-repeat -14px 0px; cursor:pointer; opacity:0; }
	.map-marker:hover, .map-marker.selected{ background-position:0px 0px; }
	


/* END CONTACT *************************************/
		
/* ROOMS ******************************/
.rooms hr{ margin-bottom:25px; }

#nav-rooms-header{
	position:relative;
	z-index:998;
	background:rgba(255,255,255,1);
}

#menu-limit hr{ margin-bottom:40px;}

#nav-rooms ul {
	font-family:'SorceSansRegular';
	text-transform:uppercase;
	font-size:20px;
	text-align:center;
	width:100%;
	line-height:20px;
	letter-spacing:2px;
}
#nav-rooms ul li{ display:inline-block; }
#nav-rooms ul li:last-child{ border:0; }
#nav-rooms ul li a{ padding:0px 28px }
#nav-rooms ul li.current_page_item a, #nav-rooms ul li a:hover{ color:#ff0000; text-decoration:none }

.border-right{
	border-right:1px solid #666;
}
.ulist ul{
	font-family:'SorceSansSemiBold';
	text-transform:uppercase;
	font-size:15px;
	list-style:disc;
	padding-top:20px;
	list-style-position:inside;
}
	.ulist ul li{
		margin-bottom:15px;
	}

.ssb15{
	font-family:'SorceSansSemiBold';
	text-transform:uppercase;
	font-size:15px;
}
ul#layout{
	margin-top:30px;
	font-size:12px;
	text-transform:uppercase;
	line-height:15px;
}
ul#layout li{
	display:inline-table;
	padding:0px 10px;
	border-right:1px solid #666;
	cursor:pointer;
}
ul#layout li:last-child{ border:none; }
ul#layout li.active, ul#layout li:hover{ font-family: 'SorceSansSemiBold' }
#layout-images{ display:none; position:relative; }
#layout-images img{ position:relative }

.amenities-page .servicos,
.amenities-page .amenities,
.rooms-page .servicos-complementares,
.rooms-page .amenities {
	width:220px;
	margin: 0px 10px;
	float: left;
	min-height: 1px;
}

.amenities-page .nossos-parceiros,
.amenities-page .our-partners,
.rooms-page .nossos-parceiros,
.rooms-page .our-partners {
	width: 300px;
	margin: 0px 10px;
	float: left;
	min-height: 1px;
}

.amenities-page .servicos img,
.amenities-page .amenities img,
.rooms-page .servicos-complementares img,
.rooms-page .amenities img,
.amenities-page .nossos-parceiros img,
.amenities-page .our-partners img,
.rooms-page .nossos-parceiros img,
.rooms-page .our-partners img {
	width: 100%;
}

.rooms-page .servicos-complementares img,
.rooms-page .amenities img,
.rooms-page .nossos-parceiros img,
.rooms-page .our-partners img {
	margin-bottom: 10px;
}

/* Amenities *******************************/
.amenities-page h2, .rooms-page h2{
	margin-bottom:50px;
	text-transform:uppercase;
}
.amenities-page h4, .rooms-page h4{
	margin-bottom:10px;
	letter-spacing:0;
}
.amenities-page h4{
	margin-top:20px;
}
.amenities-page .dst-italic, .rooms-page .dst-italic{
	margin-bottom:45px;
}
.amenities-page .indication, .rooms-page .indication{
	font-family: 'SorceSansSemiBold';
	font-size:16px;
	padding-top:10px;
	min-height:0px;
	margin-bottom:25px;
	cursor:auto;
}
.amenities-page .indication:hover, .rooms-page .indication:hover{
	background:none;
}

/*Packages **********************************/
.col3_2{
	width:620px;
	margin:0px 10px;
	float:left;
	min-height:1px;
}
.col1_2{
	width:460px;
	margin:0px 10px;
	float:left;
	min-height:1px;
}
.col1_2 img{
	max-width:460px !important;
}
.packages-page h2{
	font-family: 'SorceSansRegular';
	font-size:18px;
	text-decoration:none;
	margin:20px 0px 0px 0px;
	line-height:24px;
	letter-spacing:0px;
}
.packages-page h3{
	font-size:24px;
	text-decoration:none;
	color:#ff0000;
	line-height:28px;
}
.book-now-btn{ 
	width:auto;
	line-height:30px;
	height:30px;
	padding:0px 12px;
}
.more{
	color:#ff0000;
	font-family: 'SorceSansRegular';
	font-size:12px;
	text-transform:uppercase;
	white-space:nowrap;
	font-style:normal;
}
.more:hover{
}
table.prices{
	margin-top:20px;
	margin-bottom:10px;
	border-top:1px solid #666;
	width:100%;
}
table.prices tr{
	height:40px;
	line-height:40px;
	border-bottom:1px solid #666;
}
.packages-page ul{
	list-style:disc;
	margin-bottom:20px;
	list-style-position:inside;
}

/* City & Sea Page *******************************/
#logo-cityandsea{
	display:inline-block;
	width:80px;
	height:28px;
	background:url(imgs/city-sea-logo.png) 0% 0% no-repeat;
}
/*
.cityandsea-page h1.tcenter{
	padding-top:0px;
	margin-bottom:30px;
}
*/
.bgyellow{
	/*background:#fff5b2;*/
}
#slide-post{
	position:relative;
	height:390px;
	margin:50px 0px;
}
	div.border-wide-slide{
		margin:0px 23px;
		height:1px;
		background:#666;
	}
	div.border-wide-slide.margin-negative{
		margin-top:-50px;
		margin-bottom:50px;
	}
	#slide-img{
		position:absolute;
		width:620px;
		height:350px;
		margin:20px 20px 20px 24px;
		overflow:visible !important;
	}
	#slide-img ul.slidesjs-pagination{
		position:absolute;
		width:300px;
		left:640px;
		top:335px;
		margin:0;
	}
	#slide-txt{
		position:absolute;
		width:305px;
		height:320px;
		margin:20px 0px 0px 0px;
		/*border:1px solid #666;*/
		left:665px;
		overflow:hidden;
	}
	#slide-txt ul{
		width:8000px;
		position:relative;
	}
	#slide-txt li{
		width:305px;
		float:left;
		margin-right:150px;
	}
		#slide-txt p{
			line-height:normal;
			margin:0px 0px 20px 0px !important;
		}
			#slide-txt p.cat{
				font-family: 'SorceSansRegular';
				font-size:18px;
				text-transform:uppercase;
			}
			#slide-txt p.tit{
				font-family: 'SorceSansSemibold';
				font-size:24px;
				text-transform:uppercase;
			}
			#slide-txt p.sub-tit{
				font-size:20px !important;
			}
	
ul#categories{
	list-style:none;
	text-align:center;
	margin-bottom:50px;
}
ul#categories li{
	display:inline-block;
	font-family: 'SorceSansRegular';
	font-size:15px;
	text-transform:uppercase;
	padding:0px 8px;
	border-right:1px solid #666;
	line-height:15px;
}
ul#categories li:last-child{
	border-right:0px;
}
ul#categories li.current-cat a, ul#categories li a:hover {
	color:#ff0000;
	text-decoration: none;
}
	
.cityandsea-page .row{
	width:992px;
}
	.col4{
		width:200px;
		margin:0px 23px 50px 23px;
		float:left;
		min-height:1px;
	}
	.col4 img{
		max-width:200px;
	}
		.cityandsea-page .col4 p{
			line-height:normal;
			margin:0px 0px 5px 0px;
			font-size:14px;
			line-height:18px;
			/*font-family: 'SorceSansRegular';*/
		}
			.cityandsea-page .col4 p.cat{
				text-transform:uppercase;
				margin-bottom:5px !important;
				font-family:'SorceSansRegular';
			}
			.cityandsea-page .col4 p.tit{
				font-size:20px;
				line-height:20px;
				text-transform:uppercase;
				margin-top:15px !important;
				font-family:'SorceSansRegular';
			}
			.cityandsea-page .col4 p.dst-italic{
				line-height:20px;
				font-family:Georgia; font-style:italic;
			}

ul#pagination{
	list-style:none;
	text-align:center;
	margin:30px 0px;
}
ul#pagination li{
	display:inline-block;
	font-family: 'SorceSansRegular';
	font-size:12px;
	text-transform:uppercase;
	padding:0px 20px;
	border-right:1px solid #666;
}
ul#pagination li:last-child{
	border-right:0px;
}
ul#pagination li a{
	color:#ff0000;
}


#grid-posts{
	width:950px !important;
	margin-left:-24px;
}
	#tiles{
		margin-left:24px;
	}
		#tiles .col4{ 
			float:none !important; 
			margin:0;
			padding:0px 0px 0px 0px
		}

a.more.blocky{
	display:block;
	line-height:inherit;
}
.home .blocky{
	margin-top:5px;
}

/* City & Sea Single Page *******************************/
#article{
	margin-top:50px;
	padding:20px 0px;
}
.col-content{
	width:690px;
	margin-left:30px;
	padding:0px 23px 0px 0px;
	border-right:1px solid #666;
	float:left;
}
	.col-content p{
		margin:0;
	}
	.col-content p.cat{
		font-family: 'SorceSansRegular';
		font-size:18px;
		text-transform:uppercase;
		line-height:32px;
	}
	.col-content p.tit{
		font-family: 'SorceSansSemibold';
		font-size:36px;
		text-transform:uppercase;
		line-height:35px;
	}
	.col-content p.sub-tit{
		font-size:20px;
		line-height:20px !important;
	}
	.col-content img.img-article{
		max-width:690px;
		margin:20px 0px;
	}
	.col-content .text{
		/*font-family:'DocumentaStandard';*/
		font-size:16px;
		line-height:20px;
		width:467px;
		float:left;
		margin-right:23px;
	}
		.col-content .text p{
			margin-bottom:20px;
		}
		.col-content .text img{
			max-width:467px;
		}
	.col-200{
		width:200px;
		float:left;
		/*font-family:'DocumentaStandard';*/
		font-size:15px;
		line-height:20px;
	}
		.col-200 p{
			margin-bottom:20px;
		}
		.col-200 strong{
			font-family:'DocumentaStandardMedium';
			font-weight:normal; 
		}
		.btn-gris{
			height:30px;
			line-height:30px;
			font-family: 'SorceSansSemibold';
			font-size:14px;
			text-transform:uppercase;
			padding-left:30px;
			margin-bottom:10px;
			/*
			border-left:1px solid #cccccc;
			border-bottom:1px solid #cccccc;
			background:#e1e1e1;
			*/
			cursor:pointer;
		}
			.share{
				background:url(imgs/share-icon.png) 0px 50% no-repeat !important;
				display: none;
			}
			.g-maps{
				background:url(imgs/map-icon.png) 0px 50% no-repeat !important;
			}
	
	.col-content hr{ margin-bottom:30px; }
		
	.col-featured .col4{
		margin:0px 0px 50px 23px;
	}
		.col-featured .more{
			font-family: 'SorceSansSemibold';
			font-size:12px;
			line-height:20px;
			text-transform:uppercase;
			color:#000;
			margin:15px 0px 30px 0px;
		}
			.col-featured .more span{
				font-size:15px;
			}
		
		.col-featured .col4 .more{
			font-family: 'SorceSansRegular';
			color: #ff0000;
			margin:0;
		}

ul.nav-posts p{
	line-height:normal;
	margin:0px 0px 5px 0px;
	font-size:14px;
	line-height:18px;
}
ul.nav-posts li{
	display:inline-block;
	width:40%;
	margin-right:9%;
	vertical-align:top;	
}
	ul.nav-posts p.more{
		font-family: 'SorceSansSemibold';
		color:#000;
	}
	ul.nav-posts p.cat{
		text-transform:uppercase;
		margin-bottom:5px !important;
	}
	ul.nav-posts p.tit{
		font-size:20px;
		line-height:20px;
		text-transform:uppercase;
		margin-top:15px !important;
		font-family: 'SorceSansRegular';
	}
	ul.nav-posts p.dst-italic{
		line-height:20px;
		font-family:Georgia; font-style:italic;
	}
	
	
/* GUESTS Page *******************************/

.guests-page hr{ margin-bottom:30px; }	
ul#social{
	text-align:center;
	line-height:30px;
	height:30px;
	margin-bottom:40px;
	/*vertical-align:middle;*/
}	
ul#social li{
	display:inline-block;
	margin:0px 10px;
	vertical-align: bottom;
	height: 30px;
	margin-top: 10px; 
}	
ul#social li div{ display:inline-block;}
ul#social li:last-child{
	margin-top: 0px !important;
	vertical-align: top !important;	
}

.fb-like{
}
.innercol{ width:425px; }

.icon-insta{
	display:inline-block;
	width:20px;
	height:20px;
	background:url(imgs/insta-follow.png) no-repeat;	
	background-size:cover;
}

.guests-page .col1_2:first-child { border-right:1px solid #666; }
.guests-page .col1_2:first-child .innercol, #insta-container{ width:451px;  }
.guests-page .col1_2:first-child .innercol .point16{ padding-right:20px;}
.guests-page .col1_2:last-child .innercol{ margin-left:30px;  }
.guests-page .col1_2:last-child{ margin-left: 0px; }

.point16{
	font-size:16px;
	line-height:20px;
	letter-spacing:1px;
}
	.point16 a:hover{ color:#ff0000; }
.loading{
	background:url(imgs/ajax-loader.gif) 50% 50% no-repeat;
	min-height:60px;
}
.guests-page #slide-img{
	position:relative;
	width:430px;
	height:243px;
	margin:0;
	mergin-bottom:20px;
}
.guests-page #slide-img img{ max-width:430px; }
.guests-page #slide-img ul.slidesjs-pagination{
	display:none;
}
.guests-page #slide-txt{
	position:relative;
	width:430px;
	height:180px;
	overflow:hidden;
	margin: 0;
	border: 0;
	left: 0px;
}
.guests-page #slide-txt ul{
		width:8000px;
		position:relative;
	}
.guests-page #slide-txt li{
		width:410px;
		float:left;
		margin-right:150px;
		padding:0px 10px;
	}
.guests-page #slide-txt p{
			line-height:normal;
			margin:0px 0px 10px 0px !important;
		}
	.dsct-italic{
		font-family:Georgia; font-style:italic;
		font-size:15px;
		line-height:18px;
		text-align:center;	
	}
	.cap{
		font-size:70px;
		font-family:'DocumentaStandardMedium';
		margin:40px 0px -35px 0px;
		text-align:center;
		line-height:70px;
	}
	.name{
		font-size:15px;
		font-family:'SorceSansRegular';
		text-align:center
	}

	a.none:hover{
		text-decoration:none !important;
	}



#instagram{ position:relative;}
	.insta{
		
		float:left;
		margin-right:25px;
		margin-bottom:20px;
		
		/*display:none;*/
		
		font-size:13px;
		line-height:16px;
		width:200px;
		overflow:hidden;
	}
	.insta img.pt{
		width:200px;
		height:200px;
		margin-bottom:15px;
	}
	img.pu{
		width:35px;
		height:35px;
		padding:0px 10px 10px 0px;
		float:left;
	}
	.insta .sb{
		font-family: 'SorceSansRegular';
		margin:0;
	}
	.insta a.like{
		display:inline-block;
		margin-top:10px;
		padding:0px 10px 0px 30px;
		background:#CCC url(imgs/heart-b.png) 10px 50% no-repeat;
		height:30px;
		line-height:30px;
		color:#000;
		font-family:Georgia; font-style:italic;
	}
	.insta a.like:hover{
		background:#000 url(imgs/heart-w.png) 10px 50% no-repeat;
		color:#fff;
		text-decoration:none;
	}

#tweets{
	font-size:15px;
	line-height:20px;
}
#tweets .user{
	display:block;
}
#tweets .tweet{
	clear:both;
	display:block;
	padding-left:45px;
}
#tweets .timePosted{
	padding-left:45px;
}
#tweets .user img{
	width:35px;
	height:35px;
	padding:0px 10px 0px 0px;
	float:left;
	margin-bottom:-12px;
}


	#tweets a, #tweets a:hover{
		color:#ff0000;
	}	
	#tweets .user a span:first-child{ display:none; }
	#tweets .user a span{ font-family: 'SorceSansSemiBold'; }
	p.tweet{ margin:0; }
	p.interact{ display:none; }
	

.t-comments{
	padding:0px 0px 20px 0px;
}	
	.t-comment{
		margin-bottom:40px;
	}
	.t-comment .dsct-italic{
		font-size:14px;
		text-align:left;
	}
	.t-comment .title{
		font-size:20px;
		margin-bottom:20px;
		line-height:24px;
	}
	.t-comment .name{
		margin-top:16px;
		text-align:left !important;
		font-family:'SorceSansRegular';
	}
		.stars{
			margin-left:18px;
		}
			.star{
				display:inline-block;
				width:12px;
				height:12px;
				background:url(imgs/star.png) no-repeat;
				margin-right:7px;
			}
.guests-page .ta-logo{
	background:url(imgs/tripadvisor-logo.jpg) no-repeat;
	width:142px;
	height:92px;
	margin-top:25px;
	margin-bottom:50px;
	margin-right:20px;
	display:inline-block;
	vertical-align:middle;
}

/* =Media queries
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {


#mediaquery{
	float:right;
}

body{
	font-size:14px;
	min-width:320px;
}
h1{
	font-size:30px;
	padding-top:25px;
	line-height:35px;
	margin-bottom:25px;
}
h2{
	font-size:18px;
	margin-bottom:18px;
	line-height:18px;
}
h3{
	font-size:15px;
}

h6{
	font-family: 'SorceSansSemiBold';
	font-size:15px;
}

p{ font-size:14px; }
.margin-wide, .ext-wrap, .page-wide{
	width: 300px !important;
	margin:0 auto !important;
}
	section img{
		max-width:300px;
	}

#main, .home #main{
	margin-top:0px;
}

.spacer60, .spacer45, .spacer40{ height:20px; }

	
/* Header ****************/
header{
	position:relative;
	height:200px;
	background:none;
}
.home header{
	height:350px;
}
.home #lang-switch, #lang-switch{
	display:block !important;
	top:10px !important;
	opacity:1;
}

#logo-small{
	position:absolute;
	left:50%;
	width:132px;
	height:49px;
	margin-left:-66px;
	top:30px;
	background:url(imgs/logo_arpoadorinn_peq_132x49.png) no-repeat;
	/*background-size:122px 60px;*/
}

/* Navigation Menu */
#site-navigation{
	top:115px !important;
}
	.nav-menu{
		width:300px;
		line-height:40px;
		padding-left:0px;
		background:url(imgs/line-menu-300.png) no-repeat 50% 50%;
		border-top:1px solid #666666;
	}
	html[lang=pt-br] header nav.main-navigation a{
		padding:0px 10px;
	}
	html[lang=en-US] header nav.main-navigation a{
		padding:0px 19px;
	}
	.main-navigation a {
		font-size:14px;
		letter-spacing:0px;		
	}

.bar-locked-page {
	position:relative !important;
	top:auto !important;
	width: 100%;
}

/* Home ******************/
#home-header{
	position:absolute;
}
.home #home-header{
	height:225px !important;
}
	.home #logo{
		width: 214px;
		height: 109px;
		margin-left: -107px;
		top: 103px;
		background-size: 214px 109px;
	}
.home #site-navigation{
	top:225px !important;
}

#book-now-bar{ 
	height:40px; 
	margin-bottom:20px;
	background:none;
}
#book-now-bar ul{
	display:none;
}
#book-now-bar .book-now-mobile{
	display:block !important;
	width:300px;
	line-height:40px;
	height:40px;
	margin:0 auto;	
	font-family:Georgia;
	font-style:italic;
	text-transform:none;
	font-size:15px;
}

#lang-switch-home, #link-hotel{
	display:none;
}
	
/* grid */
.row, .subtitle{
	width:300px;
	margin:0 auto;
}	
	.col3, .col2, .col1{
		width:300px;
		margin:0;
		padding:0;
		float:left;
		min-height:none;
	}
	.border-right{
		border:0;
	}

hr{
	margin-bottom:20px;
}

/* grid rooms home */
#room-slides{
	display:block;
}
#room-block{ display:none; }
.grid-rooms .col2{
	width:300px;
	text-align:center;
}
.grid-rooms .r-right{
	max-width:300px;
	margin:10px auto;
	display:inline-block;
	float:none;
	text-align:center;
}
.grid-rooms .r-left{
	max-width:300px;
	margin:10px auto;
	display:inline-block !important;
	float:none;
	text-align:center;
}
.grid-rooms img{ width:300px; }

.cs-block{
	/*margin-left:-10px;
	width:320px;*/
}

/* contact home */
.contact-home{
	padding:0px 10px;
}
	.contact-home .subtitle, .contact-home img{ width:280px; }

/* guests home *****/
.subheader{ width:300px; margin-bottom:30px; }
#gr0, #gr0 img{ max-width:300px; margin:10px 0px; }	
#gr1, #gr1 img{ max-width:300px; margin:10px 0px; }	
#gr2, #gr2 img{ max-width:300px; margin:10px 0px; }	
#gr3, #gr3 img{ max-width:300px; margin:10px 0px; }	
#gr4, #gr4 img{ max-width:300px; margin:10px 0px; }	

.guests-home .col2{ display:none; }
.guests-home .photo-txt{ width:300px; }

/* city home */
.city-home{ padding:0px 10px; }
.city-home img, .city-home div, .city-home p{ width:280px; }
.city-home .row div:last-child{ display:none; }

/* Footer ***************************/
footer{
	text-align:center;
}	
footer h6.margin5{ display:none; }


ul#follow{
	width: 240px;
  margin:20px auto;
  text-align: center;
}

ul#follow li:last-child{
  margin-right:0px;
}

@media (min-width: 768px) {
  ul#follow{
    text-align: left;
  }
}

ul#newsletter{
	display:none;
}

footer .book-now-mobile{
	display:block;
	margin-bottom:20px;
}

/*Slideshow ***/
.slidesjs-pagination li {
	margin:0px 2px;
}

/*Contact ***********/
.directions{ text-align:center; }
.contact-link {
	width:100%;
	text-align:center;
	margin:0 auto;
	padding:0;
	margin-top:-40px;
	padding-bottom:20px;
}
.indication{
	min-height:0px;
}
#container-map{ width:280px; height:169px; }
.marker{ display:none; }

/* ROOMS ******************************/
.rooms hr{ margin-bottom:20px; }
#nav-rooms ul {
	font-size:14px;
	letter-spacing:0px;
	/*line-height:15px;*/
}
#nav-rooms ul li a{ padding:0px 10px }


/* AMENITIES *****************/
.amenities-page .dst-italic, .rooms-page .dst-italic{
	margin-bottom:20px;
}

/*Packages **********************************/
.col3_2, .col1_2{
	width:300px;
	margin:0;
	padding:0;
}
.col3_2 img, .col1_2 img{
	max-width:300px !important;
}
.packages-page h3{
	font-size:18px;
	line-height:22px;
}
.packages-page .book-now-btn{
	display:none;
}

/* City & Sea Page ****************/
.cityandsea-page #page-wrapper{
	padding:0px 10px;
	width:280px !important;
}	
.cityandsea-page .row, .cityandsea-page .subtitle{
	width:280px;
}

#slide-post{
	width:280px;
	height:420px;
	margin-left:-10px;
}
	#slide-img{
		max-width:280px;
		margin:20px 0px 20px 10px;
	}
	#slide-img ul.slidesjs-pagination{
		position:absolute;
		width:280px;
		left:0px;
		top:360px;
	}
	#slide-txt{
		position:absolute;
		width:280px;
		height:262px;
		left:10px;
		top:190px;
	}
	#slide-txt li{
		width:280px;
		margin-right:120px;
	}
		#slide-txt p{
			margin:0px 0px 5px 0px !important;
			line-height:16px;
		}
			#slide-txt p.cat{
				font-size:16px;
			}
			#slide-txt p.tit{
				font-size:18px;
			}
			#slide-txt p.sub-tit{
				font-size:15px !important;
			}
			#slide-txt p.ecrp{
				font-size:14px;
			}
	
ul#categories li{
	font-size:14px;
	padding:0px 4px;
	line-height:14px;
}

.cityandsea-page .row{
	width:280px;
}
	#tiles .col4{
		width:280px;
		margin:0px 0px 25px 0px;
		float:none;
	}
	.col4 img{
		max-width:280px;
	}


#grid-posts{
	width:280px !important;
	margin-left:0px;
}
	#tiles{
		margin-left:0px;
	}
	
/* City & Sea Single Page *******************************/
#article{
	margin-top:25px;
	padding:20px 0px;
	/*margin-left:-10px;*/
	width:280px;
}
.col-content{
	width:280px;
	margin-left:0px;
	padding:0;
	border-right:0;
	float:none;
}
	.col-content p{
		margin:0;
	}
	.col-content p.cat{
		font-family: 'SorceSansSemibold';
		font-size:12px;
		line-height:16px;
	}
	.col-content p.tit{
		font-family: 'SorceSansRegular';
		font-size:20px;
		line-height:24px;
	}
	.col-content p.sub-tit{
		font-size:15px;
		line-height:15px !important;
	}
	.col-content img.img-article{
		max-width:280px;
		margin:20px 0px;
	}
	.col-content .text{
		/*font-family:'DocumentaStandard';*/
		font-size:14px;
		line-height:18px;
		width:280px;
		float:none;
		margin-right:0px;
	}
		.col-content .text p{
			margin-bottom:18px;
		}
		.col-content .text img{
			max-width:280px;
		}
	.col-200{
		width:280px;
		float:none;
		/*font-family:'DocumentaStandard';*/
		font-size:14px;
		line-height:18px;
	}
		.col-200 p{
			margin-bottom:18px;
		}
	
	.col-content hr{ margin:20px 0px; }
		
	.col-featured .col4{
		width:280px;
		margin:0px 0px 25px 0px;
	}
	
/* Guests ************************/
.guests-page .col1_2:first-child .innercol, #insta-container{ width:300px; }
.guests-page .col1_2:last-child .innercol{ margin-left:0px; width:300px; }
.insta{ width:300px; }		
.insta img.pt{ width:300px!important; height:300px !important; }		
.guests-page .col1_2:first-child { border-right:0px; }
.guests-page #slide-img{
	width:300px;
	height:169px;
}
.guests-page #slide-img img{ max-width:300px; }
.guests-page #slide-txt{
	width:300px;
	height:180px;
	top:0px;
}
.guests-page #slide-txt li{
		width:280px;
	}

.more-trip .ta-logo{ display:none; }
#tweets{ width:300px; overflow:hidden;}
.t-comments{ padding:0; }
a.instamore, .more-trip{ display:block; margin:20px 0px; }

}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Your Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Your Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 481px)
and (max-width : 1024px) {
	
#mediaquery{
	float:left;
}
header{ z-index:4; }
#home-header{
	z-index:3;
}

.home .margin-wide, .page-wide{
	margin: 0px 10px;
	min-width:748px;
}

.ext-wrap{
	width: 748px !important;
	margin:0 auto !important;
}
.home .ext-wrap{
	margin:0 auto !important;;
}
.margin-wide{ width:748px; }
	
	section img{
		max-width:748px;
	}
	
/* Navigation Menu */
/*

#site-navigation{
	top:15px;
}
	.nav-menu{
		width:300px;
		line-height:30px;
		padding-left:10px;
		background:url(imgs/line-menu.png) no-repeat 50% 50%;
	}	
	ul#menu-menu-principal-english li{
		margin-right:20px;
	}
*/	
	
	
	#logo-small{ left:20px; }
	/* portuguese */
	ul#menu-menu-principal-1{
		padding-left:70px;
	}
	/* english */
	ul#menu-menu-principal-english-1{
		padding-left:40px;
	}
	.home ul#menu-menu-principal-1, .home ul#menu-menu-principal-english-1{
		padding-left:0px;
	}
	.main-navigation a {
		font-size:14px;
		padding:0px 10px;
		letter-spacing:0px;		
	}

/* footer */
ul#newsletter input {
	max-width:75px;
}
.little {
	font-size: 11px;
}
/* only home */
.home #main{
	margin-top:225px !important; /* 260 header + 54 bar */
}	
	
/* END Navigation Menu */
	
#book-now-bar{
	position:fixed;
	top:100px;
	z-index:1000;
}
.home #book-now-bar{
	top:225px;
}
.home .slides{ padding-top:44px; z-index:-1; }

/* grid */
.row{
	width:748px;
	margin:0 auto;
}	
	.col3{
		width:229px;
		margin:0px 10px;
		float:left;
		min-height:1px;
	}
	.col3 img{
		max-width:229px;
	}
	.col2{
		width:408px;
		margin:0px 10px;
		padding-right:10px;
		float:left;
		min-height:1px;
	}
	.col1{
		width:270px;
		margin:0px 10px;
		float:left;
		min-height:1px;
	}

/* grid rooms home */
.grid-rooms .col2{
	width:408px;
}
.grid-rooms .r-right img, .grid-rooms img.r-right {
	max-width:360px;
}

/*
	.grid-rooms .col2 a:last-child .r-right, .grid-rooms .col2 .r-right:last-child img{
		max-width:150px;
		margin-left:0px;
	}

.grid-rooms .r-left img, .grid-rooms img.r-left{
	max-width:220px;
}
*/

	#img-pos-0, #img-pos-0 img{ 
		max-width:360px;
		max-height:268px;
	}
	#img-pos-1, #img-pos-1 img{ 
		max-width:190px;
		max-height:269px;
	}
	#img-pos-2, #img-pos-2 img{ 
		max-width:170px; 
		max-height:118px;
		margin-left:0px;
	}
	#img-pos-3, #img-pos-3 img{ 
		max-width:180px;
		max-height:247px;
	}
	#img-pos-4, #img-pos-4 img{ 
		max-width:280px;
		max-height:184px;
	}



/* guests home ******/
#gr0, #gr0 img{ max-width:408px; }	
#gr1, #gr1 img{ max-width:150px; }	
#gr2, #gr2 img{ max-width:210px; }
#gr4, #gr4 img{ max-width:270px; }	

.photo-txt{
	width:280px;
}
/* contact */
input[type='text'], input[type='email'], select, textarea{
	width:209px;
}
select{ width:229px; height:30px;}

#container-map{ width:748px; height:450px; }

/* AMENITIES *****************/
.amenities-page .dst-italic, .rooms-page .dst-italic{
	margin-bottom:35px;
}

/*Packages **********************************/
.col3_2{
	width:438px;
}
.col3_2 img{
	max-width:438px;
}
.col1_2{
	width:354px;
}
.col1_2 img{
	max-width:354px !important;
}

/* City & Sea Page ****************/
#slide-post{
	height:302px;
}
	#slide-img{
		width:465px;
		height:262px;
		margin:20px 20px 20px 24px;
	}
	#slide-img ul.slidesjs-pagination{
		position:absolute;
		width:240px;
		left:475px;
		top:250px;
		margin:0;
	}
	#slide-txt{
		position:absolute;
		width:230px;
		height:262px;
		/*border:1px solid #666;*/
		left:500px;
	}
	#slide-txt li{
		width:230px;
		margin-right:120px;
	}
		#slide-txt p{
			margin:0px 0px 10px 0px !important;
		}
			#slide-txt p.cat{
				font-size:17px;
			}
			#slide-txt p.tit{
				font-size:20px;
			}
			#slide-txt p.sub-tit{
				font-size:16px !important;
			}
			#slide-txt p.ecrp{
				font-size:14px;
			}
	
ul#categories li{
	font-size:14px;
	padding:0px 4px;
	line-height:14px;
}
#grid-posts{
	width:740px !important;
	margin-left:-24px;
}
	#tiles{
		margin-left:24px;
	}
/* City & Sea Single Page *******************************/
.col-content{
	width:495px;
}
	.col-content img.img-article{
		max-width:495px;
	}
	.col-content .text{
		font-size:15px;
		line-height:18px;
		width:495px;
		margin-right:0px;
	}
		.col-content .text p{
			margin-bottom:20px;
		}
		.col-content .text img{
			max-width:495px;
		}	
	.col-featured{
		width:180px;
		float:left;
	}	
	.col-featured .col4{
		margin:0px 0px 50px 20px;
		width:160px;
	}
		.col-featured .col4 img{
			max-width:160px;
		}

/* Guests ************************/
.guests-page .col1_2:first-child .innercol, #insta-container{ width:354px; }
.guests-page .col1_2:last-child .innercol{ margin-left:20px; width:334px; }
.insta{ width:150px; }		
.insta img.pt{ width:150px!important; height:150px !important; }	
.guests-page .point16{ padding-right:20px; }
.guests-page #slide-img{
	width:330px;
	height:186px;
}
.guests-page #slide-img img{ max-width:320px; }
.guests-page #slide-txt{
	width:330px;
}
.guests-page #slide-txt li{
		width:310px;
	}

#tweets, .col1_2{ overflow:hidden; }
.guests-page .ta-logo{ display:block; megin-top:0px; margin-bottom:10px;} 	
.guests-page .more-trip{
	margin-bottom:20px;
}
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Your Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Your Styles */


	

}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Your Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Your Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Your Styles */
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
* Image replacement
*/

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

/*
* Hide from both screenreaders and browsers: h5bp.com/u
*/

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
* Hide only visually, but have it available for screenreaders: h5bp.com/v
*/

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
* Hide visually and from screenreaders, but maintain layout
*/

.invisible {
	visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/

.clearfix {
	*zoom: 1;
}


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}




/*********************** SLIDES ***********************/
.slides {margin-bottom:30px !important;}
a {outline: none !important;} 


/*********************** QUITERIA PAGE ***************/
.quiteria {font-family:'Source Sans Pro', Georgia, Times, serif;background: #f1e7d7 url(imgs/bg-section-topo-quiteria.png) no-repeat; min-height:1600px; background-position:180px 150px;margin:30px 15px 0 15px;padding-bottom:40px;}
.quiteria .col1 {text-align:right; margin: 100px 0 0 125px; font-weight:bold; font-size:1.06em; line-height:1.64em; width:400px;}
.quiteria .quiteria-about-content {margin:95px 0 0 220px; font-weight:bold; font-size:1.06em; line-height:1.64em; width:400px;} 
.quiteria .quiteria-about-content img {margin-bottom:150px;}

.quiteria .sorcesanssemibold { font-family: 'SorceSansSemiBold'; }

.quiteria .main-chef {float:left; width:500px;}
.quiteria .main-chef .chef {margin:165px 0 0 325px;}
.quiteria .main-chef .chef img {margin-bottom:10px;}
.quiteria .main-chef .chef .title {margin-top:10px;font-weight:bold; font-size:20px;}
.quiteria .main-chef .chef .chef-bio {font-style:italic; margin-top:5px; width:439px;}

.quiteria .restaurant {float:right;width:245px; margin-top:160px;}
.quiteria .restaurant .time {color:#af4b4c; font-size:15px; line-height:1.65em;font-weight:bold;}

.quiteria .main-meal {margin-top:30px;}
.quiteria .main-meal .photos {float:left; width:620px; text-align:right;}
.quiteria .main-meal .about-menu {float:right;width:581px;}
.quiteria .main-mean .about-menu strong {margin-bottom:10px; font-size:20px;}
.quiteria .main-mean .about-menu p {width:80%;}




@media only screen and (min-width: 481px) {
	.quiteria-page { margin-top: 112px; }
	.quiteria-page .col-title-quiteria { margin-left: 535px; position: absolute; }
	.quiteria .quiteria-about-content p { padding-top: 200px; }
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
	.quiteria { margin-top: 0; margin-left: auto; margin-right: auto; width: 300px; background-image: none; }
	.quiteria .sorcesanssemibold { font-family: 'SorceSansSemiBold'; }
	.quiteria .col1, .quiteria .col2 { width: 300px; margin: 0; padding: 0; }
	.quiteria .col-title-quiteria { text-align: center; margin: 0; width: 100%; }
	.quiteria .col-title-quiteria img { margin: 35px 0 15px; }
	.quiteria .col-address { text-align: center; margin-bottom: 40px; }
	.quiteria .col-address .pin-map { padding-bottom: 20px; display: inline-block; }
	.quiteria .quiteria-about-content { margin: 0; width: 100%; padding: 0 10px; box-sizing: border-box; }
	.quiteria .restaurant { width: 100%; margin: 0 0 25px; padding: 0 10px; box-sizing: border-box; }
	.quiteria .main-chef { width: 100%; }
	.quiteria .main-chef .chef { margin: 0; }
	.quiteria .main-chef .chef .title { width: 100%; padding: 0 10px; box-sizing: border-box; }
	.quiteria .main-chef .chef .chef-bio { width: 100%; padding: 0 10px; box-sizing: border-box; }
	.quiteria .main-meal { margin-top: 15px; }
	.quiteria .main-meal .photos { width: 100%; margin: 0; padding: 0; }
	.quiteria .main-meal .photos img { margin: 0 !important; padding: 0; }
	.quiteria .main-meal .about-menu { width: 100%; margin: 40px 0 0; padding: 0; }
	.quiteria .main-meal .about-menu strong { width: 100%; padding: 0 10px; box-sizing: border-box; margin-top: 10px; font-weight: bold; font-size: 20px;}
	.quiteria .main-meal .about-menu p { width: 100%; padding: 0 10px; box-sizing: border-box; }
}

@media only screen and (min-width: 481px) {
	.quiteria .col1 {
		font-size: 14px !important;
	}
	.quiteria-about-content p {
		font-size: 14px !important;
	}
	.quiteria .restaurant .time {
		font-size: 14px !important;
	}
	.quiteria .main-meal .about-menu img {
		margin-bottom: 17px !important;
	}
	.quiteria .main-meal .about-menu img + strong {
	    margin-top: 0;
	    font-weight: bold;
	    font-size: 20px;
	    display: block;
	    margin-bottom: 5px !important;
	}
	.quiteria .main-meal .about-menu p {
		font-size: 14px !important;
		line-height: 1.4;
	}
	.quiteria .main-chef .chef img {
		margin-bottom: 13px !important;
	}
	.quiteria .main-chef .chef .title {
	    margin-top: 0;
	    font-weight: bold;
	    font-size: 20px;
	    display: block;
	    margin-bottom: 5px !important;
	}
	.quiteria .main-chef .chef p {
		font-size: 14px !important;
		line-height: 1.4;
	}

	.quiteria .pin-map + br + strong {
		padding-top: 29px;
		display: inline-block;
		font-family: 'SorceSansSemiBold';
		font-size: 13px;
	}

	#chef {
		overflow: hidden;
		width: 966px;
		padding-left: 184px;
		margin: 0 auto;
		padding-top: 76px;
	}
	#chef .restaurant {
	    float: right;
	    width: auto;
	        padding-right: 224px;
	}
	#chef .main-chef{
	    float: left;
	    width: auto;
	}
	#chef .main-chef .chef {
		margin: 0;
		margin-top: 165px;
	}

	.quiteria .main-meal .photos {
		display: none !important;
	}
	.quiteria .main-meal .photos.desktop {
		display: block !important;
		float: right;
		padding-right: 20px;
	}
	.quiteria .main-meal .photos img {
		    clear: both;
	}
}
@media only screen and (max-width: 480px) {
	.quiteria .main-meal .photos {
		display: block !important;
	}
	.quiteria .main-meal .photos.desktop {
		display: none !important;
	}
}

/* [BEGIN] TEMPORADA */
.temporada-main-content {}

.mobile:before,
.temporada-main-content:before,
.mobile:after,
.temporada-main-content:after {
  display: table;
  content: " ";
}
.mobile:after,
.temporada-main-content:after {
  clear: both;
}

.temporada-main-content h1.tcenter {
	background: url(imgs/logo-titulo-temporada.png) no-repeat center center;
	width: 334px;
	height: 134px;
	text-indent: -9999px;
    margin-left: auto;
    margin-right: auto;
}

.temporada-main-content .descricao {
	background-color: #45b0bc;
    width: 355px;
    padding: 15px 20px;
    box-sizing: border-box;
    min-height: 555px;
    margin-right: 35px;
    margin-bottom: 35px;
    float: left;
}

.temporada-main-content .descricao .text {
	color: #fff;
	font-size: 15px;
	font-family: 'SorceSansLight';
}

.temporada-main-content .endereco {
	background-color: #231f20;
	width: 320px;
    padding: 15px 20px;
    box-sizing: border-box;
    min-height: 230px;
    margin-right: 35px;
	float: left;
}
.temporada-main-content .endereco .text {
	color: #fff;
	font-size: 15px;
	margin-bottom: 4px;
	font-family: 'SorceSansLight';
}
.temporada-main-content .endereco h6 {
	font-family: 'SorceSansSemiBold';
	color: #fff;
	margin-bottom: 6px;
}

.temporada-main-content .endereco h6.tit-map {
	margin-bottom: 25px;
}

.temporada-main-content .endereco h6.tit-map .icon-map {
    position: relative;
    top: -2px;
}

.temporada-main-content .endereco a {
	color: #fff;
	font-family: 'SorceSansLight';
}

.temporada-main-content .horario-funcionamento {
	border: 1px solid #ef662f;
	background-color: #fff;
	width: 175px;
    padding: 15px 20px;
    box-sizing: border-box;
    min-height: 230px;
	float: left;
}

.temporada-main-content .horario-funcionamento .tit {
	color: #ef662f;
	line-height: 27px;
	margin-bottom: 25px;
}
.temporada-main-content .horario-funcionamento .text {
	color: #ef662f;
	font-family: 'SorceSansRegular';
	margin-bottom: 5px;
}
.temporada-main-content .horario-funcionamento .text span {
	font-family: 'SorceSansSemiBold';
}
.temporada-main-content .christian {
	margin-top: 38px;
	float: left;
	width: 530px;
	margin-bottom: 35px;
}

.temporada-main-content .christian {
	width: 530px;
}

.temporada-main-content .carta-drinks {
	background-color: #ef662f;
	width: 230px;
    padding: 15px 20px;
    box-sizing: border-box;
    min-height: 499px;
	float: left;
	margin-right: 35px;
}

.temporada-main-content .carta-drinks .tit {
	color: #fff;
	font-size: 20px;
	line-height: 26px;
	padding-top: 311px;
	font-family: 'SorceSansRegular';
}
.temporada-main-content .carta-drinks .text {
	color: #fff;
	font-size: 15px;
	font-family: 'SorceSansLight';
	line-height: 22px;
	margin-bottom: 0;
}

.temporada-main-content .descricao-christian {
	border: 1px solid #67bfc8;
	background-color: #fff;
	width: 445px;
    padding: 15px 20px;
    box-sizing: border-box;
	float: left;
	margin-bottom: 35px;
}

.temporada-main-content .descricao-christian .tit {
    margin-bottom: 4px;
    font-family: 'SorceSansSemiBold';
    font-size: 20px;
}

.temporada-main-content .descricao-christian .text {
    font-family: 'SorceSansRegular';
    font-style: italic;
	margin-bottom: 0;
	font-size: 15px;
	line-height: 22px;
}

.temporada-main-content .temporada-comida {
	float: left;
	width: 295px;
}

.temporada-main-content .temporada-comida img {
	width: 100%;
}

.temporada-main-content .temporada-prato {
	float: left;
	width: 325px;
	margin-left: 35px;
}

.temporada-main-content .temporada-prato img {
	width: 100%;
}

.temporada-main-content .temporada-view {
    float: left;
    width: 710px;
    position: relative;
    left: -150px;
    top: -266px;
    margin-bottom: -231px;
}

.temporada-main-content .temporada-view img {
	width: 100%;
}

.temporada-main-content .mobile {}
.temporada-main-content .mobile h1.tcenter {
    width: 100%;
    background-size: contain;
    height: 120px;
    padding: 0;
    margin: 0;
    margin-top: 35px;
    margin-bottom: 25px;
}
.temporada-main-content .mobile .temporada-prato {
	width: 100%;
	margin: 0;
}
.temporada-main-content .mobile .temporada-prato img {
	width: 100%;
	margin: 0;
}

.temporada-main-content .mobile .endereco {
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #000;
	padding-bottom: 20px;
	margin-top: -7px;
	padding-top: 19px;
	min-height: 0;
}

.temporada-main-content .mobile .endereco h6.tit-map {
    margin-bottom: 12px;
}

.temporada-main-content .mobile .horario-funcionamento {
	background-color: #000;
    border: none;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0;
	min-height: 0;
	margin-top: -1px;
}

.temporada-main-content .mobile .horario-funcionamento .tit {
	margin-bottom: 5px;
	line-height: 20px;
}
.temporada-main-content .mobile .horario-funcionamento .text {
    font-weight: bold;
}

.temporada-main-content .mobile .descricao {
    background-color: transparent;
    width: 100%;
    min-height: 0;
    padding: 30px 0;
    margin: 0;
}

.temporada-main-content .mobile .descricao .text {
	color: #000;
    font-weight: bold;
    margin-bottom: 0;
}

.temporada-main-content .mobile .temporada-view {
	width: 100%;
	position: inherit;
	margin: 0;
	padding: 0;
}
.temporada-main-content .mobile .temporada-view img {
	width: 100%;
	margin: 0;
	padding: 0;
}
.temporada-main-content .mobile .temporada-comida {
	width: 100%;
	position: inherit;
	margin: 0;
	padding: 0;
}
.temporada-main-content .mobile .temporada-comida img {
	width: 100%;
	margin: 0;
	padding: 0;
}

.temporada-main-content .mobile .christian {
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: 0;
}
.temporada-main-content .mobile .christian img {
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: 0;
}


.temporada-main-content .mobile .descricao-christian {
	border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.temporada-main-content .mobile .temporada-prato {
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: 0;
}
.temporada-main-content .mobile .temporada-prato img {
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: 0;
}


.temporada-main-content .mobile .temporada-taca {
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: 0;
}
.temporada-main-content .mobile .temporada-taca img {
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: 0;
}

.temporada-main-content .mobile .carta-drinks {
	padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 0;
    margin-top: 15px;
    width: 100%
}

.temporada-main-content .mobile .carta-drinks .tit {
	    padding: 0;
}
.temporada-main-content .mobile .carta-drinks .text {}

.temporada-main-content .mobile .temporada-comidas {
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	float: left;
}
.temporada-main-content .mobile .temporada-comidas img {
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: 0;
}

@media (min-width: 481px) {
	.temporada-main-content .mobile { display: none; }
	.temporada-main-content .desktop { display: block; }
}

@media (max-width : 480px) {
	.temporada-main-content .mobile { display: block; }
	.temporada-main-content .desktop { display: none; }
}
/* [END] TEMPORADA */


/* Newsletter Mailchimp */
/* ----------------------------------------- */
	.sr-only {
	  position: absolute;
	  width: 1px;
	  height: 1px;
	  padding: 0;
	  margin: -1px;
	  overflow: hidden;
	  clip: rect(0,0,0,0);
	  border: 0;
	}

	#mc_embed_signup_scroll {
		display: flex;
	}
	
	#mc_embed_signup_scroll input {
		height:28px;
		max-width:165px;
		margin-right: 10px;
	}
	#mc_embed_signup_scroll .btn {
		width:auto;
		padding:0px 10px;
		height:30px;
		line-height:30px;
		display:inline-block;
		font-size:14px;
		margin-right: 0;
	}

/* ----------------------------------------- Newsletter Mailchimp */		

/* Icons Whatsapp */
/* ----------------------------------------- */
	.icon-whatsapp::before {		 
		display: inline-block;
	    width: 16px;
	    height: 16px;
	    content: "";
	    background: url(./imgs/whatsapp.svg) no-repeat center center;
	    background-size: contain;
	    margin-right: 4px;
	    position: relative;
	    top: 2px;
	}
/* ----------------------------------------- Icons Whatsapp */		

/* slideshow */
/* ----------------------------------------- */
.slideshow {
  margin: 70px 0px !important; }
  @media (min-width: 768px) {
    .slideshow {
      margin: 70px 40px !important; } }
  @media (min-width: 992px) {
    .slideshow {
      margin: 70px 0px !important; } }
  .slideshow .box-slider {
    position: relative;
    display: block; }
    .slideshow .box-slider .mask {
      font-family: "SorceSansRegular";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 19px;
      font-weight: bold;
      text-transform: uppercase;
      background: rgba(0, 0, 0, 0.3);
      opacity: 0;
      transition: all 300ms ease-in-out; }
    .slideshow .box-slider:hover .mask {
      opacity: 1; }
  .slideshow img {
    max-width: 100%;
    height: auto;
    margin: 0;
    width: 100%; }
  .slideshow .slick-slide {
    transition: all 300ms ease-in-out; }
    .slideshow .slick-slide:not(.slick-center) {
      transform: scale(0.8); }
  .slideshow .slick-dots li button {
    width: 16px;
    height: 16px; }
    .slideshow .slick-dots li button:before {
      width: 16px;
      height: 16px;
      font-size: 16px; }
  .slideshow .slick-next, .slideshow .slick-prev {
    width: 42px;
    height: 42px; }
    .slideshow .slick-next:before, .slideshow .slick-prev:before {
      opacity: 1;
      display: block;
      color: transparent;
      width: 42px;
      height: 42px; }
  .slideshow .slick-prev:before {
    background: url(imgs/arrow-prev.png) no-repeat center center; }
  .slideshow .slick-next:before {
    background: url(imgs/arrow-next.png) no-repeat center center; }

/* ----------------------------------------- slideshow */

/* Contact Form  */
/* ----------------------------------------- */
		.col-form {
			float: right;
		}
		.wpcf7-form label {
			margin-bottom: 0;
			font-size: 15px;
			font-family: Georgia;
			font-style: italic;
		}
		.wpcf7-form input[type="text"], .wpcf7-form input[type="email"] {
			margin-bottom: 6px;
		}
		.clear {
			clear: both;
		}
/* ----------------------------------------- Contact Form  */

.height-auto {
  height: auto !important;
}
.arp-header__left p {
	line-height: 22px;
  margin-bottom: 2px;
}

/* Helpers */
/* ----------------------------------------- */
	.d-none {
		display: none;
	}

	@media screen and (min-width: 768px) {
		.d-md-none {
			display: none !important;
		}
		.d-md-block {
			display: block !important;
		}
	}
/* ----------------------------------------- Helpers */
